/**
 * Created by JetBrains PhpStorm.
 * User: alam
 * Date: 13/03/14
 * Time: 11:30
 * Version : 1.0
 * To change this template use File | Settings | File Templates.
 */
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
}

.footer{
    background: #222;
    color: white;
    
}

/*@media (min-width: 768px)*/
.navbar-nav-xs {
    float: left;
    margin: 0;
}

.navbar-nav-xs>li {
float: left;
}

.container>.navbar-xs{
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.img-media-list{
    width: 100%;
    height: auto;
}

.div-line-index{
    /*width: 40px; */
    height: 30px;
    position: absolute;
    text-align: center;
    padding-top: 0px;
    color: #9a191d;
    font-weight: 900;
    font-size: 20px;
    background-color: #ffffff;
}


.img-topten-list{
    width: 75px;
    height: auto;
}

.line-mini{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.nopadding {
    padding-right: 0 !important;
    margin: 0 !important;
}

.navbar-nomarginbottom{
    margin-bottom: 0 !important;
}

.kanal-title{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
}

.sub-kanal-title{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 8px;
    color: #fff;
}

.kanal-title-red{
    background-color: #DC0000;
}

.kanal-title-cokelat{
    background-color: #854A31;
}

.kanal-title-orange{
    background-color: #D46900;
}

.kanal-title-yellow{
    background-color: #D6C42B;
}

.kanal-title-gray{
    background-color: #737373;
}

.kanal-title-gray-soft{
    background-color: #BEBEBE;
    border-left: 6px solid #854A31;
}

.kanal-title-blue{
    background-color: #4A86FF;
}

.kanal-title-softcoklat{
    background-color: #9C6851;
}

.kanal-title-green{
    background-color: #53AD4B;
}

.labes{
    display: inline-block;
    padding: 2px 5px;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    margin-top: 2px;
}

.labes-news{
    background-color: #9E5B3E;
}
.labes-scandal{
    background-color: #DC0000;
}
.labes-profile{
    background-color: #FF7E00;
}
.labes-suksesi{
    background-color: #FFE930;
}

.ul-img-hr{
    list-style: none;
    height: 40px;
    margin-left: 0px;
    padding: 0px;
    /*margin-top: 5px;*/
}
.ul-img-hr li{
    float: left;
    margin-right: 2px;
}

.img-btm-border{
    width: 40px;
    height: 40px;
}

.img-btm-border-0{
    border-bottom: 4px solid white;
}

.img-btm-border-1{
    border-bottom: 4px solid red;
}

.img-btm-border-2{
    border-bottom: 4px solid yellow;
}

.img-btm-border-3{
    border-bottom: 4px solid green;
}

.panel-title-xs{
    font-size: 11px !important;
}

.panel-body-xs{
    padding: 5px;
}

.bjk-logo{
    height: 40px;
    margin-top: -10px;
}

/** POLITER **/
.a-block{
    width: 100%;
    display: block;
    /*line-height: 25px;*/
    /*font-weight: 700;*/
    /*font-size: 14px;*/
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.a-block>span {float: right;margin-right: 10px;}
.a-block-3 {background-color: rgba(105,148,69, 0.4);}
.a-block-1 {background-color: rgba(202,98,97, 0.4);}
.a-block-2 {background-color: rgba(251,155,53, 0.4);}
.a-block-4 {background-color: rgba(147,179,255, 0.4);}

/** CALEGG 2014 **/
.caleg-image-ref {width: 100%;height: 50px;background: url('/assets/images/m_lihat-calegmu-disini.jpg') no-repeat;
    background-position: top;}
.caleg-image-ref>a {display: block;width: inherit;height: inherit;}

/** ANALYTIC 2014 **/
.analytic-image-ref {width: 100%; height: 60px;background: url('/assets/images/sticker-bijaks-analytic.jpg') no-repeat;
    background-position: top;}
.analytic-image-ref>a { display: block; width: inherit; height: inherit;}
.pilpres-image-ref { width: 100%; height: 67px; background: url('/assets/images/banner-pilpres.png') no-repeat; background-position: top;}
.pilpres-image-ref>a {display: block;width: inherit;height: inherit;}


/** end **/
.media-heading-nomargin {margin: 0px;}
.media-heading-pad {padding-left: 8px; padding-top: 8px; padding-bottom: 10px; margin-bottom: 2px;}
.rw-container { padding-left: 8px; padding-top: 8px; padding-bottom: 10px; margin-bottom: 2px;}

.input-search{
    min-width: 50px;
    max-width: 100px;
    margin-top: 10px;
    /* margin-right: 10px; */
    float: left;
    margin-left: 10px;
}

.btn-search{
    margin-top: 10px;
    margin-left: -3px;
    margin-right: 10px;
}

.form-search{
    min-width: 150px;
    max-width: 200px;

}

.partai-list{
    display: block !important;
}

.tbl-mini>tbody>tr>td{
    padding: 2px !important;
    text-align: center;
}

/*
#blog {}
#blog ul {margin: -10px 0 0 0; padding: 0;list-style: none;clear:both;}
#blog li.content {position:relative;padding-top:1px;padding-bottom: 1px;margin:1px;display: inline-block;width: 160px;height: auto;}

#blog li.content .content-img {width: 160px;background-color: #e6a55f;color:#ffffff;height: 50px;padding-top: 5px;}
#blog li.content .content-img p {font-size: 10px;color: #000000;margin-left: 10px;margin-right:5px;}

#blog li.content .content-date {font-size: 8px;}
#blog li.content  img {width: 160px;height: auto;}
#blog li.content .content-list {width: 160px;height: auto;background-color: #DBD4D2; color:#000;padding-top: 5px;padding-bottom:5px;}
#blog li.content .content-list p {font-size: 10px;color: #000000;margin-left: 10px;margin-right:5px;}
#blog li.content .blog-title {margin-top:-10px;font-size: 11px;font-weight: bold;color:#000000;line-height: 12px;}
*/

#blog {}
/*#blog ul {margin: -10px 0 0 0; padding: 0;list-style: none;clear:both;} */

#blog .content {position:relative;padding-top:1px;padding-bottom: 1px;margin:1px;display: inline-block;width: 100%;height: auto;opacity: 1;
    -webkit-transition: all .2s ease;-moz-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;}

#blog .content .effect-1 {-webkit-animation: fadeIn 0.65s ease forwards; animation: fadeIn 0.65s ease forwards;}

@-webkit-keyframes fadeIn { 0% { } 100% { opacity: 1; }}
@keyframes fadeIn { 0% { } 100% { opacity: 1; }}


#blog .content .content-img {width: auto;background-color: #e6a55f;color:#ffffff;height: 6em;padding-top: 5px;border-radius:10px 10px 0 0;}
#blog .content .content-img p {color: #000000;margin-left: 10px;margin-right:5px;}
#blog .content .content-img p .user-name {font-size: 11px;color: #000000;}

#blog .content .content-date {font-size: 8px;}
#blog .content  img {width: 100%;height: auto;border-radius: 0 0 10px 10px;}
#blog .content .content-list {width: 100%;height: auto;background-color: #DBD4D2; color:#000;padding-top: 5px;padding-bottom:5px;border-radius:10px;}
#blog .content .content-list p {font-size: 10px;color: #000000;margin-left: 10px;margin-right:5px;}
#blog .content .blog-title {margin-top:-10px;}
#blog .content .blog-title a {font-size: 14px;font-weight: bold; color: #000000;line-height: 12px;text-decoration: none;}
#blog .content .blog-title a:hover {color: #71CBFF;}

#blog-detail .blog-title {font-size: 12px;font-weight: bold;color:#000000;line-height: 12px;}

.loadmoreblog {width: 200px;height: 32px;margin:0 auto;padding-top: 5px;padding-bottom: 10px;margin-bottom: 10px;}
.loadmoreblog-bg {background: #e5e5e5;border-radius:6px;}
.loadmoreblog-text {text-decoration: none;color: #000001;font-size: 12px;font-weight: bold;margin-top: 3px;display: block;}
.loadmoreblog-text:hover{text-decoration: none;color: #000001;cursor: pointer;}


#pilpress ul {margin: 0; padding: 0; list-style: none;}
#pilpress li.partai {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#pilpress li.partai img {width: 50px; height: 50px;  padding: 2px !important;}

#pilpress .content {float:left;height: 70px;width: 153px;}
#pilpress .artis {float:left;margin: 0; vertical-align: top;border-bottom: solid 1px #cecece;height: 70px;}
#pilpress .artis img {width: 50px; height: 50px;  padding: 2px !important;}
#pilpress .artis p {width:103px;padding-left:2px;padding-top: 5px;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#000;line-height: 13px;}
#pilpress .list-org li {font-size: 12px;font-family: helvetica, arial, sans-serif;color:#000;}
#pilpress .poster {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#pilpress .poster img {width: auto; height: 50px;  padding: 2px !important;}
#pilpress .scandal-link {width:306px; heigth:30px;}
#pilpress .scandal-link a {color: #000;}
#pilpress .scandal-link a:hover {color: #FF0000;}

#pilpress .index-toc {margin-top:1px;height: auto;}
#pilpress .index-toc img {width:12px;height: 12px;margin-left:10px;float:left;}
#pilpress .index-toc div {float:left;width:250px;font-size: 12px;color: #D20001;margin-left:7px;margin-top:5px;line-height: 20px;margin-top: -4px;}


.home-race-pilpres {border-collapse: collapse; margin-top: 0; width: auto;}
.home-race-pilpres tr {border-bottom: 1px dotted #ccc;}
.home-race-pilpres tr:last-child {border-bottom: none;}
.home-race-pilpres td {padding: 2px 0; font-family: helvetica; font-size: 10px;}
.home-race-pilpres :first-child td {}
.home-race-pilpres img {width: 75px; height: 75px;}
.pilpres-race-title {width: 150px;height: 75px;vertical-align: middle;}

.pilpres-race-percentage {width: 100px; height: 75px;vertical-align: bottom;text-align: center;padding-top:5px;}
.pilpres-race-percentage-sm {width: 100px; height: 75px;vertical-align: bottom;text-align: center;padding-top:5px;}
.pilpres-race-separator {width: 5px;border-right: solid 1px #c4c4c4;}
.pilpres-race-kandidat {width: 100px; height: 65px;vertical-align: bottom;text-align: center;padding-top:5px;}
.pilpres-race-kandidat-sm {width: 100px; height: 65px;vertical-align: bottom;text-align: center;padding-top:5px;}
.pilpres-race-percentage p {floatmargin-top: 5px;margin-bottom: 5px;}
.pilpres-percentage-box {height: 65px;margin-bottom: 5px;margin-top:5px;margin-left:10px;width: 70px;position: relative;}
.pilpres-percentage-box-sm {height: 65px;margin-bottom: 5px;margin-top:5px;width: 70px;margin-left:10px;position: relative;}
.pilpres-percentage-bar {height:0;width: 55px; background-color: #F57778;bottom: 0;margin: 0 auto}
.pilpres-percentage-bar-0 {background-color: #FFE9B5;}
.pilpres-percentage-bar-1 {background-color: #e40203;}
.pilpres-bar-1 {color:#ffffff;font-weight:bold;position: absolute; width: 55px; text-align: center; }
.pilpres-bar-2 {color:#ffffff;font-weight:bold;position: absolute; width: 55px; text-align: center; }

.pilpres-bar-sm-1 {color:#ffffff;font-weight:bold;position: absolute; width: 55px; text-align: center; }
.pilpres-bar-sm-2 {color:#ffffff;font-weight:bold;position: absolute; width: 55px; text-align: center; }

.pilpres-image {width: 100%;height: auto;}

.progress-bar-winner{background: #847CE2;}
.progress-bar-default{background: #F57778;}
.table-nomargin{margin-bottom: 0px;}

#banner-pilpres {width: 100%;height:auto;background: url('/assets/images/banner-m-pilpres.jpg') no-repeat;background-position: top;}
#index-section {width: 640px;height: 32px;}
#index-section .border-index {float:left;width:18.2%;height:30px;margin-top: 2px;background-color:#EB3322;text-align: center;padding: 5px;margin-left:2px;}
#index-section .border-index a {color: #ffffff; font-size: 10px;font-weight: bold;margin-top:2px;}

#gaza .panel-pemain {height:32px;margin-top:5px;background-color: #E5E5E5;border-radius: 5px;}
#gaza .tokoh {vertical-align: top;border-bottom: solid 2px #cecece;width: 100%}
#gaza .tokoh a {color: #0000cc; text-decoration: underline;}
#gaza .tokoh a:hover {color: #0000cc; text-decoration: underline;}
#gaza .tokoh img {width: 50px; height: 50px;  padding: 2px !important;}
#gaza .tokoh .name {width:110px;padding-left:5px;padding-top: 5px;font-size: 11px;font-weight:bold;font-family: helvetica, arial, sans-serif;color:#000;line-height: 14px;}
#gaza .tokoh .title {width:110px;padding-left:5px;margin-top:-10px;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#000;line-height: 14px;}
#gaza .tokoh .word {width:160px;padding-left:0px;margin-top:-10px;font-style:italic;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#FF0000;line-height: 14px;}
#gaza .media {width: 100%;margin-left: 10px;margin-right: 10px;height:auto;border-bottom: solid 1px #E5E5E5;}
#gaza .media h4 {font-size:12px; font-weight: bold; }
#gaza .media-logo {float:left;margin: 0; vertical-align: top;width: 20%;height:auto;}
#gaza .media-logo img {width: 80%; height: auto;  padding: 2px !important;}
#gaza .media-desc {float:left;margin: 0; vertical-align: top;width: 80%;height:auto;padding-left:5px;}
#gaza .media-desc .info {padding-left:5px;padding-top: 5px;font-size: 10px;font-family: arial, helvetica, sans-serif;color:#000;line-height: 14px;}
#gaza .media .title {width:150px;padding-left:5px;margin-top:-10px;font-size: 11px;font-family: arial, sans-serif;color:#000;line-height: 14px;}
#gaza .media .word {width:280px;padding-left:5px;margin-top:-10px;font-style:italic;font-size: 10px;font-family: helvetica, arial, sans-serif;color:#FF0000;line-height: 14px;}

#gaza ul {margin: 0; padding: 0; list-style: none;}
#gaza li.demonstran {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#gaza li.demonstran img {width: 110px; height: 70px;  padding: 2px !important;}

#isis {/*background: url('http://www.bijaks.net/assets/images/hotpages/isis/background_isis.png') no-repeat;background-size: 100% auto;*/}
#isis .history-korban {width: 38%;background-color: #720502;color:#ffffff;padding:10px;vertical-align: top;}
#isis .history-korban ul {margin-top:-7px;padding-left: 0px;list-style: none;}
#isis .history-isis {background-color: #720502;color:#ffffff;padding:10px;margin-bottom: 10px;}
#isis .history-isis p {text-align: center;border-bottom: 1px solid #ffffff;}
#isis .history-isis ul {margin-top:-7px;padding-left: 0px;list-style: none;background-color: #ffffff;color:#000000;}

#isis .history-title {background-color: #720502;color:#ffffff;padding:5px;text-align: center;border-bottom: 1px solid #ffffff;}
#isis .history-info {background-color: #ffffff;color: #000000;padding: 5px;border-bottom: solid 1px #cecece;}
#isis .history-info ul {margin-top:-7px;padding-left: 0px;list-style: none;background-color: #ffffff;color:#000000;}

#isis .tag-title {height:32px;margin-top:5px;background-color: #E5E5E5;border-radius: 5px;}
#isis .tag-title p {line-height: 15px;padding: 9px;}
#isis .tag-title a {line-height: 15px;padding: 9px;color: #000000;}

#isis ul {margin: 0; padding: 0; list-style: none;}
#isis li.photo-isis {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#isis li.photo-isis img {width: 110px; height: 70px;  padding: 2px !important;}

#isis .legend-ind {float:left;width: 20px; height: 20px; border-radius: 100px; -moz-border-radius:100px;-webkit-border-radius: 100px; -border-radius: 100px;
    border:2px #fff solid; background-color:#E12B12;color:#ffffff;}
#isis .legend-ind p {font-size: 10px;font-weight: bold;margin-left: 3px;margin-top: 1px;}
#isis .tokoh {vertical-align: top;border-bottom: solid 2px #cecece;width: 100%}
#isis .tokoh a {color: #0000cc; text-decoration: underline;}
#isis .tokoh a:hover {color: #0000cc; text-decoration: underline;}
#isis .tokoh img {width: 50px; height: 50px;  padding: 2px !important;}
#isis .tokoh .name {width:110px;padding-left:5px;padding-top: 5px;font-size: 11px;font-weight:bold;font-family: helvetica, arial, sans-serif;color:#000;line-height: 14px;}
#isis .tokoh .title {width:110px;padding-left:5px;margin-top:-10px;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#000;line-height: 14px;}
#isis .tokoh .word {width:160px;padding-left:0px;margin-top:-10px;font-style:italic;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#FF0000;line-height: 14px;}

#isis .content {float:left;height: 70px;width: 153px;}
#isis .organisasi {float:left;margin: 0; vertical-align: top;border-bottom: solid 1px #cecece;height: 70px;}
#isis .organisasi img {width: 50px; height: 50px;  padding: 2px !important;}
#isis .organisasi p {width:103px;padding-left:2px;padding-top: 5px;font-size: 11px;font-family: helvetica, arial, sans-serif;color:#000;line-height: 13px;}

#isis .arrow-up {margin-left:20%;margin-top:1px;background: url('http://www.bijaks.net/assets/images/hotpages/isis/icon-arrow2.png') no-repeat center rgba(0, 0, 0, 0);
    width:163px; height: 32px;}
#isis .arrow-right {margin-top:10px;background: url('http://www.bijaks.net/assets/images/hotpages/isis/icon-arrow1.png') no-repeat rgba(0, 0, 0, 0);height: 89px; width: 32px;}
#isis .curve-right {margin-left:0px;margin-top:-100px;background: url('http://www.bijaks.net/assets/images/hotpages/isis/icon-arrow3.png') no-repeat rgba(0, 0, 0, 0);
    height: 169px; width: 57px;}

.row_even{
    background-color: #cecece;
}

.row_odd{
    background-color: #ffffff;
}

.mtop1{
    margin-top: .3em;
}


.title_page_mobile{
    font-size: 1.2em;
    font-weight: bold;
}

.category-news-title-merah {
    background-position: left -96px;
}
.category-news-title-right {
    float: right;
}
.category-news-title {
    /*background: url("../../images/home-head-bullets.png") no-repeat scroll center top rgba(0, 0, 0, 0);*/
    height: 20px;
    margin-top: .1em;
    text-align: left;
}

.red_background{
    background-color: #D20001;
    color: #FFFFFF;
}

.grey_background{
    background-color: #CCCCCC;
    color: #000000;
}

.left1{
    margin-left: 1em;
}

.right1{
    margin-right: 1em;
}

.top1{
    margin-top: 1em; 
}

.bottom1{
    margin-bottom: 1em;
}

.inputlogin {
/*    background: -moz-linear-gradient(center top , #ffffff, #eeeeee 1px, #ffffff 20px) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 1px solid #dddddd;
/*    border-radius: 3px;*/
/*    box-shadow: 0 0 2px #dddddd;*/
    padding: 5px;
    margin-top: .3em;
}

.aboutbijaks p {
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.bottom_border{
    border-bottom: solid 1px #cecece; 
}

.informasiDasar{
    background-color: #ffffff;
    width: 100%;
}

.informasiKontak{
    background-color: #ffffff;
    width: 100%;
}

.chpass{
    width: 100%;
}

.fullwidth{
    width: 100%;
}

.user-name {
    font-size: 16px;
    margin-bottom: .3em;
}
.blog-title {
    font-size: 18px;
    padding-bottom: .3em;
}

/*--------------------------------------------*/
/* timeline score */
.score-place{
    text-align: center;
    width: 100%;

}
/*.score-place>div{*/
/*max-width: ;*/
/*}*/

.score-place-overlay{
    position: relative;
    margin-top: 5px;
}

.score-place-left{
    text-align: left;
}

.score-place-min{
    text-align: center;
    float: left; width: 200px; margin-top: -5px;
}

.score-container{
    /*width: 225px;*/
    max-width: 225px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    height: 38px;

}

.score-place-full{
    margin-bottom: 4px;
}

.score-place-full>.score-container{
    max-width: 100%;
}

.content-score{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
    padding: 5px;
    cursor: pointer;
}

.score-btn{
    max-height: 30px;
}

.score-btn img{
    max-height: 28px;
    max-width: 29px;
}


.content-score a:hover{
    text-decoration: none;
}

.content-score li{
    float: left;
    /*margin-left: 10px;*/
    margin-right: 10px;
    min-width: 40px;
    color: white;
    font-weight:bold;
    max-height: 28px;
}

.content-score span{
    color: white;
    font-style: italic;
    line-height: 27px;
    float: left;
}

/** score simple **/

.score-container-simple{
    /*width: 225px;*/
    /*max-width: 225px;*/
    /*background: rgba(0, 0, 0, 0.6);*/
    /*margin: 0 auto;*/
    height: 30px;
    max-width: 225px;

}

.content-score-simple{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
    /*padding: 5px;*/
    cursor: pointer;
}

.score-btn-simple{
    max-height: 30px;

}

.score-btn-simple img{
    max-height: 28px;
    max-width: 29px;
}

.score-icon-simple{
    float: left;
    width: 25px;
    height: 20px;
    margin-top: 4px;
    background: url("../images/icon-news-bottom.png") no-repeat;
}

.score-icon-simple-comment{
    background-position:0px 3px ;
}

.score-icon-simple-like{
    background-position:0px -20px ;
}

.score-icon-simple-dislike{
    background-position:0px -40px ;
}

.content-score-simple a:hover{
    text-decoration: none;
}

.content-score-simple li{
    float: left;
    /*margin-left: 10px;*/
    margin-right: 10px;
    min-width: 40px;
    color: white;
    font-weight:bold;
    max-height: 28px;
}

.content-score-simple span{
    color: #555555;
    font-style: italic;
    line-height: 27px;
    float: left;
}

.comment-side-left {
    float: left;
    width: 65px;
}

.comment-side-right {
    float: left;
    margin-left: 15px;
    width: 80%;
}

.circular-comment {
    border: 1px solid gray;
    border-radius: 100px;
    height: 40px;
    margin-left: 8px;
    margin-top: 3px;
    width: 40px;
}

.media-input {
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px 12px 8px 10px;
    width: 50%;
}
.comment-time {
    font-size: 7pt;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.comment-heading-comment {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.comment-container {
    height: auto;
}
.comment-content {
    float: left;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 0;
}
.comment-text {
    display: block;
}

.btn-flat {
    border: 0 none;
    border-radius: 1px;
    margin-top: 4px;
    padding: 4px 10px;
    text-decoration: none;
}

.btn-flat-dark {
    background: none repeat scroll 0 0 #4c4c4c;
    color: white;
}
.btn-flat-dark:hover {
    color: white;
}

#send_coment{
    cursor: pointer;
}

.text_adds {
    font-family: "Courier New", Courier, monospace !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: black !important;
    text-align: center !important;
}
