@CHARSET "ISO-8859-1";

/*
 * HTML5 Reset
 * ------------------------------------------------
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
    font-family : "Helvetica",Arial,sans-serif;
}

article, aside, figure, footer, header, hgroup, nav,section { display: block; }
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img, object, embed { max-width: 100%; }
/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; overflow-x: hidden;}
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */


ul { list-style: none; }
blockquote, q { quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title],
dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td { font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input,
select {vertical-align: middle;}
pre { white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select,
input,
textarea { font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}

/* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active { outline: none;}
small { font-size: 85%;}
strong,
th { font-weight: bold;}
td,
td img {vertical-align: top;}
/* Make sure sup and sub don't screw with your line-heights gist.github.com/413930 */
sub,
sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {font-family: monospace, sans-serif;}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button { cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea { margin: 0;}
/* make buttons play nice in IE */
button { width: auto; overflow: visible;}

#wrapper {/*background-image: url(../img/back.jpg)*/;background-repeat: repeat-y;min-height:100%;height:auto;text-align:center; margin: 0 auto;
    width: 960px;}
.header-wrapper {top:0;margin: 0 auto;width:100%;position:fixed;background-color: #000000; background: rgba(0, 0, 0, 0.45);z-index: 1000;}

header {left:195px;background-color: #000000;}
header .nav-container {margin: 0;margin-bottom: 0;background-color: #333333;width: 960px; height: auto;}

header .nav {margin-bottom: 2px !important;}
header .nav li {display: block;float: left;margin-top: 3px;font-family: helvetica, sans-serif, arial; font-style: normal;}
header .nav li a {cursor: pointer; display: block; font-size: 15px; font-weight: bold; height: 23px;text-align: center; text-decoration: none;}

header .nav .nav-home a {width: 100px; color:  #fff;}
header .nav .nav-berita a {width: 100px; color: #fff;}
header .nav .nav-komunitas a {width: 100px; color: #fff;}
header .nav .nav-politik a {width: 100px; color: #fff;}
header .nav .nav-sentimen a {width: 100px; color: #fff;}

header .nav .nav-home a:hover {background-color: #333333;}
header .nav .nav-berita a:hover {background-color: #333333;}
header .nav .nav-komunitas a:hover {background-color: #333333;}
header .nav .nav-politik a:hover {background-color: #333333;}
header .nav .nav-sentimen a:hover {background-color: #333333;}

header .nav li a:hover {color: #ffffff;}

header .nav .nav-home a:link {/*background-color: #333333;*/}
header .nav .nav-berita a:link {/*background-color: #333333;*/}
header .nav .nav-komunitas a:link {/*background-color: #333333;*/}
header .nav .nav-politik a:link {/*background-color: #333333;*/}
header .nav .nav-sentimen a:link {/*background-color: #333333;*/}

header .nav li.active a { color: #FFFFFF; /*background-color: #222222; /* #666666;*/}

header .nav .dropdown-menu {background-color: #333333 !important;border-radius: 0px 0px 0px 0px !important; box-shadow: none;margin: -1px 0 0 !important;}
header .nav .dropdown-menu li {float:none !important;background-color: #333333;width: 160px;}
header .nav .dropdown-menu a {color: #ffffff; font-family: Helvetica, sans-serif, arial; font-size: 12px; text-align: left;
    height: 22px;width: auto;font-weight: bold;padding: 5px 12px 5px 12px;}
header .nav .dropdown-menu a:hover {width: auto; background-color: #423A3A !important;background-image: none !important;}
header .nav .dropdown-menu.active a {background-color: #ffffff;}

header .nav > li.divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #333333;
    border-bottom: 2px solid #423A3A;
}

header .navbar-search {width: 100px; font-family: helvetica, sans-serif, arial; font-style: normal;}
header .navbar-search form {margin: 0 0 3px !important;}

header .navbar-search .search-query {border-radius: 8px !important;}

/*header #user-tool .nav {}
header #user-tool .nav li {display: block; margin: 0;font-family: helvetica, sans-serif, arial; font-style: normal;}
header #user-tool .nav li a {cursor: pointer; display: block; font-size: 15px; font-weight: bold; height: 25px;text-align: center; text-decoration: none;}
*/
header .nav .nav-login a {width: 150px; color: #fff;}
header .nav .nav-login a:hover {background-color: #333333;}
header .nav .nav-login a:link {/*background-color: #333333;*/}

header .nav .nav-userprofile a {width: 160px; color: #fff;font-family: helvetica, sans-serif, arial; font-style: normal; font-size: 13px;}
header .nav .nav-userprofile a:hover {background-color: #333333;}
header .nav .nav-userprofile a:link {/*background-color: #333333;*/}

header .nav .nav-userprofile .dropdown-menu {background-color: #333333 !important;border-radius: 0px 0px 0px 0px !important; box-shadow: none;}
header .nav .nav-userprofile .dropdown-menu li {float:none !important;background-color: #333333;width: 160px;}
header .nav .nav-userprofile .dropdown-menu a {color: #ffffff; font-family: Helvetica, sans-serif, arial; font-size: 12px; text-align: left;
    height: 22px;width: auto;font-weight: bold;padding: 5px 12px 5px 12px;}
header .nav .nav-userprofile .dropdown-menu a:hover {width: auto; background-color: #423A3A !important;background-image: none !important;}
header .nav .nav-userprofile .dropdown-menu a:link {background-color: #333333;}

.nav-title {font-style: italic; font-size: 10px;color: #A09F9F;margin-top: -5px;}

header .nav .loginarea {width: 235px;}
header .nav .loginarea h3 {font-family: Helvetica; font-size: 14px;color: #ffffff; margin-left:10px;text-align: left;line-height: 25px;}

header .nav #formlogin {background: #333333; position: relative;font-family:Helvetica;}
header .nav #formlogin {font-family: Helvetica, sans-serif, arial; font-size: 12px;}
header .nav #formlogin p a {color:#fff;font-size: 13px;margin-top:20px;}
header .nav #formlogin p a:hover {background-color: #333333 !important;}

header .nav #formdaftar {background: #333333; position: relative;font-family:Helvetica;}
header .nav #formdaftar {font-family: Helvetica, sans-serif, arial; font-size: 12px;}
header .nav #formdaftar p a {color:#fff;font-size: 13px;margin-top:20px;}
header .nav #formdaftar p a:hover {background-color: #333333 !important;}

header .nav #formlogin .btn-primary, header .nav #formdaftar .btn-primary {width:130px !important;background-color: #cecece;
    background-image: linear-gradient(to bottom, #cecece, #cecece);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #000000;font-size: 10px;font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

#head-search {padding: 0px 0;}
#head-search form, #head-search .input-append {margin: 0;}
#head-search button {margin-top: -1px;height: 31px;}

footer {box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); margin-bottom: 0;background-color: #222222;height: 80px;}
.nav-footer .nav li {display: block;float: left;margin: 0;font-family: helvetica, sans-serif, arial; font-style: normal;padding: 10px 0px 25px 0px;}
.nav-footer .nav li a {cursor: pointer; display: block; font-size: 15px; font-weight: bold; /*height: 35px;*/text-align: center; text-decoration: none;}

.nav-footer .nav .nav-tentang a {width: 70px; color:  #fff;border-right: solid 1px #ad6d27;}
.nav-footer .nav .nav-contact a {width: 70px; color: #fff; border-right: solid 1px #ad6d27;}
.nav-footer .nav .nav-kebijakan a {width: 150px; color: #fff; border-right: solid 1px #ad6d27;}
.nav-footer .nav .nav-syarat a {width: 150px; color: #fff;}

.nav-footer .nav .nav-tentang a:hover {color: #cecece;background-color: #222222;}
.nav-footer .nav .nav-contact a:hover {color: #cecece;background-color: #222222;}
.nav-footer .nav .nav-kebijakan a:hover {color: #cecece;background-color: #222222;}
.nav-footer .nav .nav-syarat a:hover {color: #cecece;background-color: #222222;}
.nav-footer .nav li a:hover {color: #FFFFFF;background-color: #222222;}
/*.nav-footer .nav .nav-tentang.active a {background-color: #666666;}
.nav-footer .nav .nav-contact.active a {background-color: #666666;}
.nav-footer .nav .nav-kebijakan.active a {background-color: #666666;}
.nav-footer .nav .nav-syarat.active a {background-color: #666666;}
.nav-footer .nav li.active a { color: #FFFFFF; background-color: #666666;}
*/

#slideheadline { width:960px; height: 400px;}
.slideimg { background-position: center top; background-repeat: no-repeat; width:100%; height:400px; position:relative;}
#slideouter {width:320px;height:400px;position:absolute;/* background-image:url("../images/sliderbg.png")*/ background-color: #424040;
    background: rgba(0, 0, 0, 0.6);/*opacity:0.8; filter:alpha(opacity=70);-moz-opacity:0.8;*/color: #0000FF;z-index: 100;}
.headlogo {width: 253px;height: 145px;margin-top:45px; margin-left: 35px;z-index: 1;}

#slideouter ul.leaders {color:#fff;font-family: "times new roman"; font-size: 13px; font-style:italic;font-weight: bold;max-width: 18em; padding: 0; overflow-x: hidden; list-style: none}
#slideouter ul.leaders li:before {float: left;width: 0;white-space: nowrap;content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "}
#slideouter ul.leaders span:first-child {padding-right: 0.33em;}
#slideouter ul.leaders span + span {float: right;padding-left: 0.33em;}

/*
.ic_scandal {background-image:url("../images/ic-skandal.png");height:71px;width:71px;padding-left:3px;padding-top:20px;
background-repeat: no-repeat;text-align: center;}
.ic_scandal span {font-family: helvetica; font-size: 20px; color: #fff;width: 71px;}
CFB378 */

.ic_scandal {height:71px;width:71px;padding-left:3px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;
    background-color: #fff;text-align: center;}
.ic_scandal_center {height:62px;width:62px;padding-left:3px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;
    background-color: #CFB378;margin-top: 5px; margin-left:2px; text-align: center;}
.ic_scandal .ic_scandal_total {font-family: helvetica; font-size: 20px; color: #fff;width: 71px;}
.ic_scandal .ic_scandal_news {font-family: "times new roman"; font-style: italic; font-size: 13px;color: #fff;margin-top:0px;}


.ic_suksesi {background-image:url("../images/ic-suksesi.png");height:71px;width:71px;padding-left:3px;padding-top:20px;
    background-repeat: no-repeat;text-align: center;margin-left:20px;margin-right:20px;}
.ic_suksesi span {font-family: helvetica; font-size: 20px; color: #fff;width: 71px;}
.ic_tokoh {background-image:url("../images/ic-tokoh.png");height:71px;width:71px;padding-left:3px;padding-top:20px;
    background-repeat: no-repeat;text-align: center;}
.ic_tokoh span {font-family: helvetica; font-size: 20px; color: #fff;width: 71px;}

#slideheadline .carousel-caption {padding: 0px 0px 0px 0px; !important;}
#slideinformation {width:220px;height:200px;margin-left: 735px;top:60px;background-color: transparent;}
#slideinformation .informasi-judul {float:left; margin-top:10px;width:60px;font-family: Helvetica; font-size: 13px; font-weight: bold; color: #fff;text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);}
#slideinformation .informasi-jabatan {float:left; margin-top:10px;margin-left:5px;width:140px;font-family: Helvetica; font-size: 13px; font-weight: bold; color: #fff;text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);}
#slideinformation .informasi-scandal {width:220px; margin-top:10px;font-family: Helvetica; font-size: 13px; font-weight: bold; color: #fff;text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);}
#slideinformation .skandal-judul {width: 220px;margin-top:20px;margin-bottom: 10px;}
#slidesuksesi {width:200px;height:200px;margin-left: 800px;top:60px;background-color: transparent;}
#slidecaption {background-color: #000; width: 425px; height: 110px;z-index: 1; margin-left: 535px;top:230px;background: rgba(0, 0, 0, 0.6); /*opacity: 0.6;filter:alpha(opacity=60)*/}
#slidecaption .sectioncategories {width: 110px;height:28px;padding: 5px 0px 0px 15px;position: absolute;}
#slidecaption .sectioncategories p {font-size:18px; font-family: Helvetica;font-weight: bold; color:#fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);}

#slidecaption .sectiontitle {float:left; width: 345px;height:110px;}
#slidecaption .headline-date-view {font-size: 15px; font-family: "Times New Roman", arial, helvetica; font-style: italic;color:#fff;
    height:15px;margin-right: 10px;margin-top:10px;text-align: right;}
#slidecaption .headline-title {margin-top:10px;margin-left:15px; height: auto;}
#slidecaption .headline-title a {font-size: 22px; font-family:  helvetica, "Times New Roman", arial; color: #fff; text-align: left;
    text-decoration: none;line-height: 28px;}
#slidecaption .comunity-icon {float:left; width: 45px; height: 110px;background: rgba(0, 0, 0, 1);}
#slidecaption .comunity-total {float:left; width: 30px; height: 110px;}
#slideheadline .carousel-control {line-height: 11px; margin-top: -165px;}
#slideheadline .carousel-indicators {top: 347px !important;}
#slideheadline .carousel-indicators li {
    width: 40px; height: 40px; border-radius: 40px;
    -moz-border-radius:40px;
    -webkit-border-radius: 40px;
    -border-radius: 40px;
    border:5px #fff solid;
    background-color:#CEC0C0;
}

#slideheadline .carousel-indicators li:hover {
    /*width: 30px; height: 30px; border-radius: 30px;*/
    background-color:#dc0000;
}
#slideheadline .carousel-indicators .active {background-color: #dc0000;}

#home-comunity {float:left;}
#home-comunity .comunity {width: 320px; height: 50px;color:#fff;margin-top: 2px; margin-bottom: 2px;margin-top: -1px;}
#home-comunity .comunity-foto {float:left;margin-top:5px; margin-left: 10px; margin-right: 10px; width: 35px; height: 35px;}
#home-comunity .comunity-foto img {width: 35px; height: 35px;border-radius: 100px; -webkit-border-radius: 100px;
    -moz-border-radius: 100px;background-color: #cecece;}
#home-comunity .comunity-name {float:left; margin-top:5px; font-family: helvetica; font-size: 11px;}
#home-comunity .comunity-name p {font-size: 15px; color: #fff;text-decoration: none; margin-top: -5px;}
#home-comunity .comunity-name a {color: #fff;}
#home-comunity .comunity-icon {float:left; margin-right:0px; background-repeat: no-repeat;width: 45px; height: 45px;}

.circle {float:left;background-color: #c5a86d; border: 5px solid #fff;height:62px;width:62px; border-radius: 100px;
    -moz-border-radius:100px; -webkit-border-radius:100px; margin-top: 24px; text-align:center;}
.circle p {text-align: center; margin-top: 24px;}

/** col style alam */

.sub-header-container{
    width: 960px;
    margin: 0 auto;
    display: block;

}

.sub-header-container-fix-height{
    height: 400px;
}

.sub-header-container-bg-image{
    width: 960px;
    /*background: blue;*/
    height: 540px;
    position: absolute;
    z-index: -2;
}

.sub-header-container-bottom-status{
    margin-top: 160px;
    /*bottom: 230px;*/
    width: inherit;
    height: auto;
    background-color: black;
    opacity:0.7;
    padding: 1px 0px;
}

.sub-header-container-bottom-status p{
    font-size: 20px;
    line-height: 20px;
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 1;
    color: white;
}

.sub-header-container-bottom-tab{
    width: inherit;
    height: 40px;
    background-color: white;
    opacity:0.8;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

.logo-small-container{
    width: 200px;
    height: 150px;
    background-color: black;
    opacity:0.8;
    float: left;
}

.logo-small-container img{
    z-index: 9;
    width: 150px;
    margin-top: 20px;
    margin-left: 23px;
}

.right-container{
    float: left;
    width: 760px;
}

.banner{
    height: 100px;
}

.banner img{
    height: inherit;
}

.category-news{
    width: inherit;
    height: 50px;
}

.category-news-title{
    background: url(../images/home-head-bullets.png) top no-repeat scroll;
    /*background-position:left -64px; */

    height: 32px;
    text-align: left;
    margin-top: 8px;
}

.category-news-title-right{
    float: right;
}

.category-news-title-left{
    float: left;
    margin-left: 20px;
}


.category-news-title h1{
    margin-top: 0px;
    margin-left: 35px;
    line-height: 0.9em;
}

.category-news-title-coklat{
    background-position:left -64px;
}

.category-news-title-pink{
    background-position:left -256px;
}

.category-news-title-hitam{
    background-position:left 0px;
}

.category-news-title-merah{
    background-position:left -96px;
}

.category-news-title-kuning{
    background-position:left -160px;
}

.category-news-title-biru{
    background-position:left -224px;
}

.social{
    height: 50px;
    padding-top: 5px;
}

.last-comment{
    background-color: #fe4200;
}

.last-like{
    background-color: #ff801a;
}

.last-dislike{
    background-color: #fead00;
}

.last-coklat{
    background-color: #ca8868;
}

.last-hitam{
    background-color: #c6c4c5;
}

.last-pink{
    background-color: #0eea75;
}

.last-merah{
    background-color: #fe3e3d;
}

.last-kuning{
    background-color: #fe9d2a;
}
.last-biru{
    background-color: #6766ff;
}


.circular {
    margin-top: 3px;
    margin-left: 8px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.circular-comment {
    border: 1px solid gray;
    margin-top: 3px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-comment img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.politisi-terkait-container{
    margin-top: 10px;
    padding-top: 5px;
    /*padding-top: 5px;*/

}

.politisi-terkait-container p{
    margin-left: 7px;
    margin-bottom: 0px;

}

.politisi-terkait-container-skandal{
    background: black;
    color: white;

}

.politisi-terkait-container-skandal p{
    margin-left: 5px;
}

.politisi-terkait-container-skandal-detail{
    background: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.politisi-terkait-container-skandal-detail p{
    margin-left: 10px;
}

.politisi-terkait-container-skandal-border{
    background: black;
    color: white;
    border-bottom: 1px solid #696969;
    border-top: 1px solid #696969;
    padding: 0px;
}

.politisi-terkait-container-skandal-border p{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.politisi-terkait-skandal{
    float : left;
    margin-right: 0px;
    margin-left: 0px;

}

.politisi-terkait-skandal img{
    width: 36px;
    height: 36px;
}

.news-image{
    width: 100%;
    height: 160px;
}

.news-image-skandal{
    width: 100%;
    height: 260px;
    /*min-height: 171px;*/
    /*max-height: 260px;*/
}

.news-image-skandal-small{
    width: 100%;
    height: 171px;
    /*max-height: 171px;*/
}

.social-small{
    height: 40px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.social-small .circular{
    margin-top: 3px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.social-small .ikon-social-small{
    margin-top: 5px;
    margin-right: 5px;
}

.social{
    color: #555555;
}

.social-small{
    color: #555555;
}

.social a{
    color: #555555;
    text-decoration: none;
}

.social-small a{
    color: #555555;
    text-decoration: none;
}

.social a:hover{
    color: #555555;
    text-decoration: none;
}

.social-small a:hover{
    color: #555555;
    text-decoration: none;
}

.social-small-transparent{
    background: #d2d2d2;
}

.col-1{
    width: 960px;
    margin: 0;
    float: left;
}

.col-2{
    margin-left: 0px;
    width: 640px;
    margin: 0;
    float: left;
}

.col-3{
    width: 320px;
    margin: 0;
    float: left;
}

.col-4{
    width: 500px;
    margin: 0;
    float:left;
}

.col-5{
    width: 460px;
    margin: 0;
    float: left;
}

.col-6 {
    width: 300px;
    margin: 0;
    float: left;
}

.col-7 {
    width: 630px;
    margin-left: 30px;
    float: left;
}

.home-title-section {line-height: 33px;margin-top:10px; vertical-align: middle;}
.home-title-section span {font-family: "times new roman", helvetica, arial; font-size: 20px;height: 40px;margin-left:35px;}
.home-title-section .hot {color: #000;margin-left:40px;margin-top:-5px;}
.home-title-section .hitam a {color: #000;margin-left:0px;text-decoration: none;}
.home-title-section .white {margin-left:40px;}
.home-title-section .white a {color: #ffffff;}
.home-title-section .profile {color: #000;margin-top:-5px;}

#hot-profile {margin-top:70px;}

/* home hot profile */
#hot-profile {
}
#hot-profile h3 {
    margin-bottom: 0;
}
#home-hot-profile-details {
    background-color: #fff;
    width: 460px;
}
.home-hot-profile-detail {
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    min-height: 300px;
    background-color: #fff;
    display: none;
    padding: 1em;
}
.home-hot-profile-detail.active {
    z-index: 998;
    display: block;
}
#home-hot-profile-menu {
    background-color: #fff;
    width: 500px;
    padding: 0px;
}
#home-hot-profile-menu h5 {
    color: #900;
    margin: 0;
}
#home-hot-profile-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#home-hot-profile-menu li {
    float: left;
    cursor: pointer;
    margin: 0;
    vertical-align: top;
}
#home-hot-profile-menu li.active {
    font-weight: bold;
}
#home-hot-profile-menu li:last-child {
    border: none;
}
#home-hot-profile-menu li img {
    width: 100px;
    height: 100px;
}
#home-hot-profile-menu li span {
    display: block;
    color: #900;
    vertical-align: top;
}

#home-hot-profile-marker {
    z-index: 8; background-color: #eee; width: 10px; height: 10px;top: 13px; left: -5px; box-shadow: 1px -1px 8px 1px rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
}
.home-hot-profile-detail-pic {float: left;width: 130px;margin-left:0px;margin-top:-12px;}
.home-hot-profile-detail-pic img {width: 125px; height: 125px;}
.home-hot-profile-detail-text {float: left;width: 285px;}
#hot-profile .home-hot-profile-detail-text .table-h {
    margin-top: 0;
    border-top: none;
    width: 285px;
}

#hot-profile .home-hot-profile-detail-text .table-h .nobottomborder {border-bottom: none; vertical-align: top;}
#hot-profile .home-hot-profile-detail-text .table-h tr { border-bottom: 1px solid #ccc; }
#hot-profile .home-hot-profile-detail-text .table-h th { vertical-align: middle;}
#hot-profile .home-hot-profile-detail-text .table-h td { vertical-align: middle;}
.home-hot-profile-detail-text h4 {
    color: #900;
    margin: 0;
    padding: 0;
}
.home-hot-profile-detail-map {
    margin-top: 0px;
    min-height: 150px;
    clear: both;
    border: 4px solid #cbcccd;
    background-color: #f2eeed;
    position: relative;
}
.home-hot-profile-detail-map p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em 0 0 -83px;
    display: inline;
    padding: 4px 8px;
    background-color: #ddd;
    color: #333;
    border-radius: 1em;
}

.home-hot-profile-detail-map h4 {
    position: absolute;
    top: 20px;
    left: 17%;
    margin: -0.5em 0 0 -83px;
    display: inline;
    padding: 4px 8px;
    background-color: #0044cc;
    color: #333;
    border-radius: 1em;
}

.home-hot-profile-detail-skandal {
    text-align: left;
    font-family: helvetica, arial;
    font-size: 12px;
    vertical-align: middle;
    height: 35px;
}

#home-terkini {width: 300px; height: auto;float:left;}
#home-terkini h3 {}
#home-terkini a {font: "times new roman";color: #cc0000; cursor: pointer; text-decoration: none;}
#home-terkini .headline-index {width: 300px; height: 290px;margin-top:25px;background-color: #DD8E6C;}
#home-terkini .headline-index .headlinetitle h4 {
    font-size: 20px; color: #cc0000;line-height: 35px;}
#home-terkini .headline-index .headlinetitle .more-space {color: #000;font-size: 10px;}
#home-terkini .subheadline {height: 60px; width: 300px;}
#home-terkini .img-sec {width:100px;margin-top:0px;float: left;}
#home-terkini .title-sec {margin-top:0px;margin-left:8px;height: 60px;width:190px;float: left;}
#home-terkini .title-sec p {font-family: Helvetica, sans-serif, arial; font-size: 15px; color: #000;height:8px;}
#home-terkini .title-sec span {font-size: 11px;}
#home-terkini .headline .headlinetitle .more-space {color: #fff;font-size: 10px;}

#home-terkini .block-content-panel .node {display: block;}
#home-terkini .block-content-panel {position: absolute;top: -20; width: 100%;}

#home-terkini .vertical .carousel-inner {height: 100%;margin-top:-20px;}
#home-terkini .vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

#home-terkini .vertical .active {top: 0;}
#home-terkini .vertical .next {top: 300px;}
#home-terkini .vertical .prev { top: -300px;}
#home-terkini .vertical .next.left, #home-terkini .carousel.vertical .prev.right {top: 0;}
#home-terkini .vertical .active.left {top: -300px;}
#home-terkini .vertical .active.right {top: 300px;}
#home-terkini .vertical .item {left: 0;}
#home-terkini .carousel-control {font-size:11px;color:#000000;position:relative;height: 15px;background: none !important;
    width:75px; border-radius: 0px !important;}

#home-terkini .highcharts-legend-item {font-size: 10px !important;}

#home-survey {width: 630px; height: auto;float:left;}
#home-survey .survey-content {width: 300px; height:340px;float: left;margin-left: 5px;margin-right: 5px;
    border-bottom: solid 2px #cecece}
#home-survey .survey-content h4 {text-align: center;}

#home-skandal {width: 630px; height: auto; float: left;}
#home-skandal .headline {width: 300px; height: 460px; background-color: #bbbbbb; float:left}
#home-skandal .headline-title{
    padding-left: 10px;
}
#home-skandal .headline-title h4{
    margin-top: 4px;
    margin-bottom: 4px;

}
#home-skandal .headline-title h4 a {line-height: 20px;}
#home-skandal .powermapskandal {width: 330px; height: 411px;float: left;background-color: #f4f0ef;}

#home-skandal .title {width: 630px; height: 40px;}
#home-skandal .headline-index {width: 630px; height: 190px; background-color: #bbbbbb;}
#home-skandal .headline-index .title {font-size: 20px; font-weight: bold; color: #000;}

#home-skandal .home-skandal-detail-map {clear: both; margin-top: 0px; min-height: 290px;
    border: 1px solid #cbcccd;background-color: #f2eeed;position: relative;}
#home-skandal .index-title {font-family: "times new roman", helvetica, arial; font-size: 18px;color: #000;
    margin-left: 10px;margin-top:10px;}
#home-skandal .carousel-control {line-height: 18px; margin-top: 5px;}
#home-skandal .news-img-item {position:relative;width: 200px; height: 150px;}
#home-skandal .photo-carousel { width: 300px; height: 160px;}
#home-skandal .photo-carousel img {width: 100%}
#home-skandal .photo-control-container {margin-top: 7px;height: 55px;width: 300px;}
#home-skandal .photo-button {float:left;}
#home-skandal .photo-button a {font-size: 50px;font-weight: bold;color: #9B9B9B;}
#home-skandal .photo-carousel-control { float:left;text-align: center;width: 300px;overflow: hidden;}
#home-skandal .photo-carousel-control:hover {text-decoration: none;}
#home-skandal .photo-carousel-indicators {list-style: none;display: inline-block;margin: 0 auto;list-style-position:inside;}
#home-skandal .photo-carousel-indicators  li{float: left;margin-right: 5px; width: 50px; height: 50px;}
#home-skandal .photo-carousel-indicators > .active>img{ -webkit-filter: grayscale(100%);}

#scandalCarousel {background-color: #ffffff;}

.scandal-overlay {background-color: #000000;color: #FFFFFF;font-family: helvetica;font-size: 15px;height: 32px;
    opacity: 0.6;position: absolute;top: 0;width: 200px;}
.overlay-text {margin: 0;padding: 10px;}

/* RACE */

#home-suksesi {text-align: center;width: 935px;height: 145px;margin-left: 40px;}
#suksesiCarousel {width: 916px;height: 140px;}
#suksesiCarousel .content-logo {
    padding-top: 3px;
    width: 120px;
    height: 130px;
    text-align:center;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    /* -moz-box-shadow: 2px 3px 4px #000000;
     -webkit-box-shadow: 2px 3px 4px #000000;
     box-shadow: 2px 3px 4px #000000; */
}

#suksesiCarousel .content-text {
    font-size: 10px;
    color: #000;
    width: 110px;
}

#suksesiCarousel .carousel-inner {width: 885px;height: 140px;}
#suksesiCarousel .carousel-control {
    display: block;
    background: none repeat scroll 0 0 #CCCCCC;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #EBEBEB; font-size: 30px; font-weight: 200;
    height: 25px; line-height: 20px;  position: absolute;
    text-align: center; width: 24px; top: auto; left: auto;
    margin-top: -125px; margin-left: -35px;
    opacity: 1;
}

#suksesiCarousel .carousel-control.right {
    left: auto;
    right: 165px;
}

#home-suksesi .carousel-inner .carousel-control {line-height: 18px; margin-top: -8px;}
#home-suksesi .img-logo {position:relative;width: 120px; height: 100px;}

#race .row-col {padding-top: 15px;}
#race .col-1-2 { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;
    box-sizing: border-box; border: none; width: 468px;}
#race .row-fluid {margin-bottom: 2px;}
#race #home-race-0 {float: left;margin-left:15px;padding-right: 15px; border-right: 1px solid #ccc;}
#race #home-race-1 {float: left;padding-left: 15px; margin-left: 0px;}
#race #home-race-1 .row-fluid, .home #race #home-race-1 .home-content-suksesi {}
.home-race-head {
    border-bottom: 1px dotted #ccc;
    /* padding-bottom: 10px; */
}
.home-race-logo {text-align: center; width: 80px; height: 80px;}
.home-race-logo img {height: 80px;}
.home-race-map {text-align: right; width: 200px; height: 200px; margin-top: -15px;}
.home-race-map img {width: 200px; height: 200px;}

.home-race-name {margin-left:10px;}
.home-race-name h4 a {font-family: helvetica, helveticaneue, arial; font-size: 20px; color: #e60202;}
.home-race-date { margin-left: 10px; font-family: helvetica; font-style: italic; font-size: 11px; color: #000;}
.home-content-suksesi .tab-pane {}
.home-content-suksesi .tab-pane h5 {font-size: 12px; line-height: 1em; margin-top: 10;}
.home-race-candidates {border-collapse: collapse; margin-top: 0; width: 425px;}
.home-race-candidates tr {border-bottom: 1px dotted #ccc;}
.home-race-candidates tr:last-child {border-bottom: none;}
.home-race-candidates td {padding: 13px 0; font-family: helvetica; font-size: 12px;}
.home-race-candidates :first-child td {}
.home-race-candidate {width: 75px;}
.home-race-candidate img {width: 65px; height: 65px;}
.home-race-percentage {}
.home-race-percentage-box {width: 228px; height: 40px; background-color: #cccccc; margin-bottom: 10px;}
.page-suksesi .home-race-percentage-box { width: 95%;}
.home-race-percentage-bar {
    width: 0;
    height: 100%;
    background-color: #e40203;
}
.home-race-percentage p {
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    margin: 0;
}
.home-content-suksesi .slimScrollDiv {
    -webkit-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, .25);
    -ms-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, .25);
    -o-box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, .25);
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, .25);
}

.news-date {
    font-size: 9px;color: #000; margin-top: -8px;
}

#media-headline {
    width:306px;
    height: 75px;
}

#media-headline img {width :124px; height: 69px;}
#media-headline h5 {font-size: 12px !important;font-weight: normal;line-height: 16px; }

.home-issue-container{
    /*padding-top: 8px;*/
    /*padding-bottom: 5px;*/
    /*max-height: 1555px;*/
    /*min-height: 1500px;*/
    overflow: hidden;
    margin-bottom: 15px;
    height: 1715px;
    position: relative;
    margin-top: 10px;
}

#dv_next{
    position:absolute;
}

.home-terkini-container{
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;
    max-height: 738px;
    min-height: 735px; */
    overflow: hidden;
    margin-bottom: 5px;
    height: 1030px;
    position: relative;
    margin-top: 8px;
}

#terkini_next{
    position:absolute;
}

.home-reses-container{
    /*padding-top: 8px;
    padding-bottom: 8px;
    max-height: 738px;
    min-height: 735px; */
    overflow: hidden;
    margin-bottom: 5px;
    height: 425px;
    position: relative;
    margin-top: 8px;
}

#reses_next{
    position:absolute;
}

.home-opini-container {
    overflow: hidden;
    height: 500px;
    position: relative;
    margin-top: 5px;
/*    margin-bottom: 15px; */
    margin-left:9px;
}

#opini_next {
    position: absolute;
    width: 635px;
}

.home-komentar-container {
    overflow: hidden;
    height: 500px;
    position: relative;
    margin-top: 5px;
/*    margin-bottom: 15px; */
    margin-left:9px;
}

#komentar_next {
    position: absolute;
    width: 635px;
}


.home-content-suksesi .tab-content-home {
    padding-top: 10px;
}

.page-suksesi .home-race-logo {
    text-align: left;
}
.page-suksesi .home-race-logo img {
    width: 100px;
    min-height: 100px;
}
.page-suksesi .home-race-candidates {
    width: 100%;
}

.suksesi-tabel-rekapitulasi {
    width: 100%;
}
.suksesi-tabel-rekapitulasi tr {
    border-bottom: 1px solid #999;
}
.suksesi-tabel-rekapitulasi th, .suksesi-tabel-rekapitulasi td {
    padding: 4px 4px;
}
tr.suksesi-tabel-rekap-head {
    font-weight: bold;
    border: 0 double #999;
    border-width: 2px 0;
}
.suksesi-tabel-rekap-head th {
}
.suksesi-tabel-rekap-head td {
    text-align: center;
}
.suksesi-tabel-rekap-row:nth-child(odd) {
    background-color: #eee;
}
.suksesi-tabel-rekap-row:nth-child(even) {
    background-color: #fff;
}
.suksesi-tabel-rekap-row:hover {
    background-color: #ddd;
}
.suksesi-tabel-rekap-row th {
    font-weight: normal;
}
.suksesi-tabel-rekap-row td {
    text-align: center;
}

.race-detail-candidates {
}
.race-detail-candidate {
}
.race-detail-candidate img {
}
.suksesi-tabel-rekap-head .race-detail-candidates-num {
    color: #666;
    background-color: #ccc;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
    cursor: help;
}
.suksesi-tabel-rekapitulasi .race-detail-candidates-num {}
.suksesi-tabel-rekapitulasi-legenda {
    list-style: none;
    margin: 0;
}
.suksesi-tabel-rekapitulasi-legenda li {
    float:left;
    display: inline;
    margin-right: 1em;
    white-space: nowrap;
}
.suksesi-tabel-rekapitulasi-legenda li .race-detail-candidates-num {
    color: #666;
    background-color: #ccc;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    display: inline-block;
}


#race .row-fluid {}
#race h4 { margin: 0;}
#race .block h3 {margin-bottom: 3px;}
#race .col6 {width: 455px; margin-top: 1em;  margin-bottom: 1em;}
#race-0 {padding-right: 1em; border-width: 0 1px 0 0;}
#race-1 {padding-left: 1em; border-width: 0 0 0 1px;}
.race-image {width: 445px; height: 250px;  margin: 0 0 5px 0;}
.race-candidates { margin: 5px 0; border-collapse: collapse; width: 100%;}
.race-candidates tr { border-bottom: 1px solid #eee;}
.race-candidates td {}
.race-pic {width: 46px; height: 46px; padding: 5px 0;}
.race-pic img { width: 46px; height: 46px;}
.race-txt {}
.race-candidate { padding-left: 10px;}
.race-candidate-vice {text-align: right; padding-right: 10px;}
.race-score {text-align: center; font-size: 34px; font-weight: bold;}

#home-opini {width: 630px; height: auto;margin-top:8px;float:left; border: solid 2px #9C6851;}
#home-opini .blog-section {/* float: left; */width: 305px;}
#home-opini .blog-user-opini {width: 305px; height: 60px;background-color: #de9648; color:#fff;}
#home-opini .blog-user-favorit {width: 305px; height: 60px;background-color: #e6a55f; color:#fff;}
#home-opini .blog-user-comment {width: 305px; height: 60px;background-color: #e6c05a; color:#fff;}

#home-opini .blog-user-foto {float: left; margin-top:10px; margin-left: 10px; margin-right: 10px; width: 40px; height: 40px;
    border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;background-color: #fff;}
#home-opini .blog-user-foto img {width: 40px; height: 40px;border-radius: 100px; -webkit-border-radius: 100px;
    -moz-border-radius: 100px;background-color: #fff;}

#home-opini .blog-user-name {float:left; margin-top:0px; font-family: helvetica; font-size: 11px;width: 240px;}
#home-opini .blog-user-name p {font-size: 14px; text-decoration: none;margin-top: -5px;line-height: 14px;margin-right: 2px;}
#home-opini .blog-user-name a {color: #fff;}
#home-opini .blog-content {width: 305px; height: 193px;margin-bottom: 2px;}
#home-opini .blog-content img {width: 305px; height: 192px;}

#home-opini .blog-list {width: 305px; height: 60px;background-color: #f2eeed; color:#000;margin-top: 2px; margin-bottom: 2px;}
#home-opini .blog-list-foto {float:left;margin-top:5px; margin-left: 5px; margin-right: 10px; width: 40px; height: 40px;}
#home-opini .blog-list-foto img {width: 40px; height: 40px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;background-color: #c4c4c4;}
#home-opini .blog-list-name {float:left; margin-top:5px; font-family: helvetica; font-size: 11px; width: 240px;}
#home-opini .blog-list-name p {font-size: 14px; color: #000;text-decoration: none; margin-top: -5px;line-height: 14px;margin-right: 2px;}
#home-opini .blog-list-name .pos-coment {font-size: 11px; margin-top: -10px;margin-right: 2px;}
#home-opini .blog-list-name a {color: #000;}
#home-opini .comment-on {font-size: 11px !important;margin-top:-13px;}
#home-opini .comment-date {font-size: 11px !important;}


.related-politicians {
    height: 45px;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: helvetica, sans-serif;, arial;
}
.related-politician-label {
    font-size: 11px;
    font-weight: bold;
    margin-right: 6px;
    margin-left:10px;
    width: 50px;
    vertical-align: middle;
    padding: 10px 0 0 0;
}

.related-politicians-white {
    font-size: 11px;
    font-weight: bold;
    margin-right: 6px;
    width: 50px;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    color: #000;
}

.related-politician-label-status {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 5px;
    width: 90px;
    vertical-align: middle;
    color: #000;
}

.related-politician-status {
    font-size: 11px;
    line-height: 22px;
    width: 175px;
    vertical-align: middle;
    color: #000;
}

.related-politician-img {
    margin-top:5px;
}
.related-politician-img .block-user-friend-pic {
    margin-bottom: 0;
}
.related-politician-img img {
    width: 35px; height: 35px; margin-right: 6px;
}

/* postmeta2 */
.post-pic {
    position: relative;
    float: left;
}
.post-pic img {
    position: relative;
}
.post-pic .postmetas {
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: .65;
    height:35px;

}
/*
.post-pic:hover .postmetas, .postmetas:hover {
	opacity: 1;
	}
*/
.post-pic .postmetas span {
    margin:5px 0 0 20px;
}


.post-pic .postmetas .postmeta-like:hover,
.post-pic .postmetas .postmeta-like:focus,
.post-pic .postmetas .postmeta-dislike:hover,
.post-pic .postmetas .postmeta-dislike:focus {
    color:#B7000C;
    opacity: 1;
}


.post-pic .postmeta {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    color: #fff;
    background: transparent url('../images/postmeta.png') left top no-repeat scroll;
    height: 18px;
    line-height: 18px;
    padding: 3px 0;
    padding-left: 20px;
    cursor: pointer;
}

.post-pic .voted.postmeta {
    color: #ddd;
}
.post-pic .postmeta-divider {
    width: 1px;
    border-right: 1px solid #fff;
    margin: 0 4px 0 2px;
    height: 12px;
    line-height: 12px;
}
.post-pic .postmeta-like {/* padding-left: 0; padding-right: 20px;*/}
.post-pic .postmeta-comment { background-position: left -5px; }				/* 9 */
.post-pic .postmeta-like { background-position: left -63px;}				/* 63 */
.post-pic .postmeta-dislike { background-position: left -112px; }			/* 117 */
.post-pic .postmeta-follow { background-position: left -168px; }			/* 171 */
.post-pic .postmeta-powermap { background-position: left -222px; }			/* 225 */
.post-pic .voted.postmeta-comment { background-position: left -32px; }		/* 36 */
.post-pic .voted.postmeta-like { background-position: right -90px; }		/* 90 */
.post-pic .voted.postmeta-dislike { background-position: left -139px; }		/* 144 */
.post-pic .voted.postmeta-follow { background-position: left -195px; }		/* 198 */
.post-pic .voted.postmeta-powermap { background-position: left -249px; }	/* 252 */

#carousel-home .carousel-control {
    margin-top: 10px;
}

.carousel-more  {
    /* padding:0px 50px; */
    margin-bottom: 0px;
    height: 40px;

}
.carousel-more .carousel-inner {
    height:100px;
    padding-left:50px;  /* 100px */
    text-align: center;
}

.carousel-more .row-fluid    {
    text-align: center;
}

.carousel-more .row-fluid .span1   {
    margin: 0 auto;
    height: 36px;
}


.carousel-more .carousel-control {
    display: block;
    background: none repeat scroll 0 0 #CCCCCC;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #EBEBEB;
    font-size: 30px;
    font-weight: 200;
    height: 25px;
    line-height: 20px;
    margin-top: -12px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 24px;
    opacity:1;
    left:100px;
}

.carousel-more .carousel-control.right {
    left: auto;
    right: -45px;
}

.carousel-more .carousel-control:hover,
.carousel-more .carousel-control:focus {
    background: none repeat scroll 0 0 #B7000C;
}
.carousel-more .tooltip-auto {padding: 1px;}



.carousel-list  {
    position: relative;
}
.carousel-list .carousel-inner {
    overflow:visible;
}
.carousel-list .carousel-control {
    display: block;
    background: none repeat scroll 0 0 #CCCCCC;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #EBEBEB;
    font-size: 30px;
    font-weight: 200;
    height: 25px;
    width: 27px;
    line-height: 20px;
    text-align: center;
    opacity:1;
    /*
    margin-top: -12px;
    left:100px;
    top: 40%;
    */
}
.carousel-list .carousel-control.right {
    left: auto;
    right: -45px;
}


.carousel-list .carousel-control:hover,
.carousel-list .carousel-control:focus {
    background: none repeat scroll 0 0 #B7000C;
}
.carousel-list .tooltip-auto {padding: 1px;}

.block-user-friend-pic {display: block; float: left; width: 28px; height: 28px;margin: 0 5px 5px 0;}
.block-user-friend-pic img {width: 28px;height: 28px;}

.hp-place{
    /* width: 100%;*/
    /*position: relative;*/
    /*height: 500px;*/
    /*overflow: hidden;*/
    margin-bottom: 10px;
}

.hp-pic{
    float:left;
    width: 100px;
    height: 100px;
    /*background: green;*/
}
.hp-pic img{
    width: 100px;
    height: 100px;
}

.hp-image{
    width: 100%;
    height: 208px;
}

.img-fltr {
    -webkit-filter: grayscale(100%);
}
.img-fltr:hover {
    /*-webkit-transition: -webkit-filter 1s;  */
    -webkit-filter: grayscale(0%);
}


.hp-label{
    background: url('../images/home-head-bullets.png') top no-repeat scroll;
    /*background-position:left -96px;*/
    /*float: right;*/
    font-family: "times new roman", helvetica, arial;
    height: 32px;
    text-align: left;
    margin-top: 8px;
    position: relative;
}

.hp-label-skandal{
    background-position:left -96px;
}

.hp-label-hot-issues{
    background-position:left -64px;
}

.hp-label-hot-profile{
    background-position:left -128px;
    height: 32px;
}

.hp-label-coklat{
    background-position:left -64px;
}

.hp-label-pink{
    background-position:left -256px;
}

.hp-label-hitam{
    background-position:left 0px;
}

.hp-label-merah{
    background-position:left -96px;
}

.hp-label-kuning{
    background-position:left -160px;
}

.hp-label-biru{
    background-position:left -224px;
}

.hp-label h4{
    margin-left: 40px;
    margin-top: 10px;
    line-height: 2;
    width: 200px;
}

.hp-label>.hp-label-index{
    margin-top: 2px;
}

.hp-footer{
    height: 5px;
    width: 100%;
}

.media-image{
    height: 80px;

    width: 80px;
    /*float:left;*/
}

.media-image img{

    opacity: 0.5;
    height: 100px;
    display: block;
}

.media-body h5{
    margin-bottom: 0px;
}

/*.media-body p{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
}*/

.comment-row{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.comment-side-left{
    width: 65px;
    float: left;
}

.comment-side-right{
    float: left;
    margin-left: 15px;
    width: 551px;
}

.media-input{
    width: 528px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: solid 1px #d3d3d3;
    padding: 8px 12px 8px 10px;
    margin-bottom: 5px;
    margin-top:5px;
}

.comment-time{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*margin-bottom: 2px;*/
    font-size: 7pt;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 5px;
}

.comment-heading-comment{
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.comment-container{
    height: auto;

}

.comment-content{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    float: left;

}

.comment-text{
    display: block;
}

.pagi{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.pagi-centered{
    text-align: center;
    /*margin:0 auto;*/

}

.pagi ul{
    display: inline-block;
    margin: 0 auto;
    list-style: none;
}

.pagi ul>li{
    display: inline;
    line-height: 30px;
    text-align: center;
    margin-left: 35px;
    font-weight: bold;
    /*position: relative;*/
}

.page ul>.disabled{
    margin-left: 10px;
}

.pagi ul>.disabled>div>a{
    color: white;
    cursor: default;
    font-size: 18px;
    text-decoration: none;
}
.pagi ul>.disabled>div{
    /*position: absolute;*/
    background-color: #757575;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    /*line-height: 30px;*/
    text-align: center;
    width: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    /*top: -13px;*/
    /*left: -12px;
    z-index: -2;*/
}

.pagi li > a{
    display: inline-block;

    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;*/
    border: 0px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.bg-atas{
    background: url('../images/bg_batik_atas.jpg') repeat;
    position: absolute;
    z-index: -3;
    height: 718px;
    top:-200px;
    width: 100%;
}

.container-bawah{
    width: 100%;
    background-color: #fcf4e6;
    padding-top: 0px; /* 20px; */
}

.hp-place-sesi{
    /*position: relative;*/
    /*overflow: hidden;*/
}

.hp-place-rela{
    position: absolute;
}

.hp-place-rela-con{
    height: 375px;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.hp-place-ekonomi{
    background: url('../images/banner_ekonomi.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}
.hp-place-hukum{
    background: url('../images/banner_hukum.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}
.hp-place-parlemen{
    background: url('../images/banner_parlemen.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}
.hp-place-nasional{
    background: url('../images/banner_nasional.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}
.hp-place-daerah{
    background: url('../images/banner_daerah.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}
.hp-place-internasional{
    background: url('../images/banner_internasional.png') no-repeat;
    background-size: 100%;
    padding-top: 60px;
    margin-top: 0px;
    background-position: -2px -3px;
}

.time-line-content{
    width: 100%;
}

.time-line-content-preload{
    width: 100%;

}

.news-index-title{
    line-height: 20px;
    height: 40px;
    margin-top: 0px;
    overflow: hidden;
}

.news-index-title-2-line{
    width: 250px;
}

.news-index-date{
    margin-bottom: 4px;
    margin-top:-12px;
    font-size:11px;
    font-style:italic;
}

.news-detail{
    width: 100%;
}

.news-detail h2{
    margin-bottom: 0px;

}

.news-detail h4{
    font-style: italic;
    margin-top: 0px;
}

.news-detail>.news-img{
    width: 100%;
}

.news-profile-holder{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.news-detail-small{
    width: 320px;
    float: left;
    margin-right: 15px;
}


.div-line{
    background: #c6c4c5;
    width: 100%;
    height: 3px;
}

.div-line-small{
    background: #c6c4c5;
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.div-line-black{
    background: #000000;
    width: 100%;
    height: 1px;
}

.right-side{
    margin-top: 40px;
}

.footer-logo{
    background: url('../images/logo_bijaks_btm.png') no-repeat;
    background-size:88px 50px;
    height: 80px;
    width: 100%;
    background-position: 0px 15px;
}

/*skandal*/
.skandal-tab{
    float: left;
    height: inherit;
    width: auto;
}

.skandal-tab-title{
    font-size: 18px;
    text-align: center;

    cursor: pointer;

}

.skandal-tab-title a{
    text-decoration: none;
    color: red;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.skandal-tab-title a:hover{
    color: #8b0000;
    text-decoration: none;
    font-weight: 500;
}

.skandal-tab-title>.active{
    color: #8b0000;
    text-decoration: none;
    font-weight: 500;
}


.skandal-tab-divider{
    width:2px;
    background: black;
}

.skandal-carousel-image{
    width: 100%;
    height: 364px;
}

.skandal-carousel-image img{
    width: 100%;
}

.skandal-carousel-control-thumbs{
    text-align: center;
}

.skandal-carousel-indicators{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
}

.skandal-carousel-indicators li{
    float: left;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.skandal-carousel-indicators>.active>img{
    -webkit-filter: grayscale(100%);
}

.skandal-carousel-control-container{
    margin-top: 10px;
}

.skandal-carousel-control{
    font-size: 50px;
    font-weight: bold;
    color: #a9a9a9;
}

.skandal-carousel-control:hover{

    text-decoration: none;
}

.skandal-player-detail img{
    width: 150px;
    max-height: 150px;
    min-height: 140px;
}

/* timeline score */
.score-place{
    text-align: center;
    width: 100%;

}
/*.score-place>div{*/
/*max-width: ;*/
/*}*/

.score-place-overlay{
    position: relative;
    margin-top: -45px;
}

.score-place-left{
    text-align: left;
}

.camera-pace{
    position: relative;
    margin-top: -45px;
}

.loader{
    width: 100%;
    height: 1px;
    background: url(../images/loader_like-color.gif) no-repeat;
    background-size: 100% 100%;
    visibility: hidden;
}

.score-container{
    /*width: 225px;*/
    max-width: 225px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    height: 38px;

}

.score-place-full{
    margin-bottom: 4px;
}

.score-place-full>.score-container{
    max-width: 100%;
}

.content-score{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
    padding: 5px;
    cursor: pointer;
}

.score-btn{
    max-height: 30px;
}

.score-btn img{
    max-height: 28px;
    max-width: 29px;
}


.content-score a:hover{
    text-decoration: none;
}

.content-score li{
    float: left;
    /*margin-left: 10px;*/
    margin-right: 10px;
    min-width: 40px;
    color: white;
    font-weight:bold;
    max-height: 28px;
}

.content-score span{
    color: white;
    font-style: italic;
    line-height: 27px;
    float: left;
}

/** score simple **/

.score-container-simple{
    /*width: 225px;*/
    /*max-width: 225px;*/
    /*background: rgba(0, 0, 0, 0.6);*/
    /*margin: 0 auto;*/
    height: 30px;
    max-width: 225px;

}

.content-score-simple{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
    /*padding: 5px;*/
    cursor: pointer;
}

.score-btn-simple{
    max-height: 30px;

}

.score-btn-simple img{
    max-height: 28px;
    max-width: 29px;
}

.score-icon-simple{
    float: left;
    width: 25px;
    height: 20px;
    margin-top: 4px;
    background: url("../images/icon-news-bottom.png") no-repeat;
}

.score-icon-simple-comment{
    background-position:0px 3px ;
}

.score-icon-simple-like{
    background-position:0px -20px ;
}

.score-icon-simple-dislike{
    background-position:0px -40px ;
}

.content-score-simple a:hover{
    text-decoration: none;
}

.content-score-simple li{
    float: left;
    /*margin-left: 10px;*/
    margin-right: 10px;
    min-width: 40px;
    color: white;
    font-weight:bold;
    max-height: 28px;
}

.content-score-simple span{
    color: #555555;
    font-style: italic;
    line-height: 27px;
    float: left;
}


#loginpage {margin-top:160px;width:960px; height:500px;background-color:#cccccc;}
#loginpage .aboutbijaks {float:left; width:300px;height:500px;background-color: #DC0000;color:#ffffff;}
#loginpage .aboutbijaks p {margin-left:10px; margin-right:10px;margin-top:5px;
}
#loginpage .hot-profile {background-color: #fff; width: 300px; padding: 0px;}
#loginpage .hot-profile ul {margin: 0; padding: 0; list-style: none;}
#loginpage .hot-profile li {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#loginpage .hot-profile li img {width: 100px; height: 100px;}
#loginpage .hot-profile li span {display: block; color: #900; vertical-align: top;}

#loginpage .loginarea {float:left; width:640px;margin-left:20px;background-color:#cccccc;}
#loginpage .loginarea .inputlogin{
    padding: 5px;
    border: 1px solid #DDDDDD;

    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');

    /*Applying CSS 3radius*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
#loginpage .loginarea .inputlogin:focus {box-shadow:0 0 2px #FFFE00;}
#loginpage .loginarea .loginbutton {margin-left:10px; background-color:#A2A2A2;-moz-border-radius:5px;
    -webkit-border-radius:5px; border-radius:5px;border:1px solid #D6D1D6;display:inline-block;cursor:pointer;
    color:#000000;font-family:arial;font-size:14px;font-weight:bold;padding:7px 30px;text-decoration:none;
    text-shadow:0px 0px 0px #2f6627;
}
#loginpage .loginarea .loginbutton:hover {background-color:#c4c4c4;}
#loginpage .loginarea .loginbutton:active {position:relative;top:1px;}

#loginpage .login-section {float:left; width: 600px; height: 80px;border-bottom: 2px solid #ffffff;}

#loginpage .forgot-section {float:left;width: 600px;height: 180px;border-bottom: 2px solid #ffffff;}
#loginpage .forgot-section .form-forgot {float:left; width: 250px;}
#loginpage .forgot-section .input-captcha {float:left;width: 200px;}
#loginpage .register-section {float:left; width: 600px;margin-top: 10px;}
#loginpage .register-section .form-daftar {float:left;width:260px;}
#loginpage .register-section .daftar-message {float:left;width:330px;}
#loginpage .register-section .daftar-message p {font-family:Helvetica; font-size:13px;color:#000000;
    text-shadow:1px 1px 0px #fff;}
#loginpage .loginarea .error-message {height: 25px;}
#loginpage .loginarea .message_login {font-size: 12px;color: #c00000;}

#loginpage .loginarea .notice-message {margin-top:100px;}
#loginpage .loginarea .notice-message p {font-family: Helvetica, sans-serif, arial; font-size: 18px; color: #000000;}

#loginpage .loginarea .info-changepass {margin-top:20px;width:550px;font-family: Helvetica, sans-serif, arial; font-size: 18px; color: #000000;}
#loginpage .loginarea .field-change {margin-bottom: 5px;}

#loginsukses {float:left;margin-left:20px;width: 600px;height: 200px;}
#loginsukses .notice-message {margin-top:100px;}
#loginsukses .notice-message p {font-family: Helvetica, sans-serif, arial; font-size: 18px; color: #000000;}

#error-box {margin-top:160px;width:960px; height:250px;}
#error-box .error-notice p {text-align:center;font-family:helvetica; margin-top:230px;font-size: 36px; color: #c00000;}

#search-box {margin-top:165px;}
#search-box .search-result {background-color: #ffffff;}
#search-box .search-title h4 {font-family: helvetica, "Times New Roman", arial;font-size: 20px; color:#c00000;padding: 25px 0 0 20px;}
#search-box .search-listing {width: 960px; height: auto; border-bottom: 2px solid #cecece;}
#search-box .search-listing .load-more {background-color: #f0f0f0;height: 20px; text-align: center; font-size: 14px;font-family: Helvetica;}
#search-box .search-listing .load-more a {color: #000000;cursor: pointer;}
#search-box .search-listing .load-more a:hover {color: #c00000;}
#search-box .search-listing .politisi {width: 960px; height: 120px;background-color: #F0F0F0;margin-bottom: 10px;}
#search-box .search-listing .politisi .politisi-image {float:left;margin-top:25px; margin-left: 10px; margin-right: 0px; width: 64px; height: 64px;}
#search-box .search-listing .politisi .politisi-image img {width: 64px; height: 64px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;background-color: #c4c4c4;}
#search-box .search-listing .politisi .politisi-about {float:left; margin-top:3px; font-family: Helvetica; }
#search-box .search-listing .politisi .politisi-about a {color: #000;font-size: 15px;}
#search-box .search-listing .politisi .politisi-about p {font-size: 12px; color: #000;text-decoration: none; margin-top: -4px;}
#search-box .search-listing .politisi .politisi-about p span {font-size: 11px; color: #000;text-decoration: none;}
#search-box .search-listing .berita-politik {width: 960px; height: 200px; background-color: #f0f0f0;margin-bottom: 10px;}
#search-box .search-listing .berita-politik h4 {padding-top: 10px;padding-left:15px;font-family: "Times New Roman", arial, helvetica; font-size: 20px;}
#search-box .search-listing .berita-politik h4 a {color:#c00000;cursor: pointer}
#search-box .search-listing .berita-politik h4 a:hover {color:#000000;}
#search-box .search-listing .berita-politik .text-smaller {margin-left:15px; font-size: 12px; font-style: italic;}
#search-box .search-listing .berita-politik p {margin-left:15px;font-family: "Times New Roman", arial, helvetica; font-size: 14px; color: #000;}
#search-box .search-listing .berita-photo {width: 200px; float: left;margin-left:15px;margin-right: 10px;}
#search-box .search-listing .berita-content {width: 700px; float:left;}
#search-box .search-listing .berita-content p {font-family: "Times New Roman", arial, helvetica; font-size: 14px; color: #000;}
#search-box .search-listing .member {width: 960px; height: 80px;background-color: #F0F0F0;margin-bottom: 10px;}
#search-box .search-listing .member .member-foto {float:left;margin-top:6px; margin-left: 10px; margin-right: 15px; width: 64px; height: 64px;}
#search-box .search-listing .member .member-foto img {width: 64px; height: 64px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;background-color: #c4c4c4;}
#search-box .search-listing .member .member-detail {width: 250px;float:left; margin-top:10px; font-family: Helvetica; }
#search-box .search-listing .member .member-detail a {color: #000000;font-size: 20px;cursor: pointer;}
#search-box .search-listing .member .member-detail a:hover {color: #c00000;font-size: 20px;}
#search-box .search-listing .member .member-detail p {font-size: 12px; color: #000;text-decoration: none; margin-top: -4px;}
#search-box .search-listing .member .member-detail p span {font-size: 11px; color: #000;text-decoration: none;}

.media-heading-lite{
    max-height: 34px;
    overflow: hidden;
    line-height: 17px;
}
.media-body h5 {font-weight: normal !important;}
