.aktor-skandal-left{

}
.aktor-skandal-list{
    margin-bottom: 15px;
}
.aktor-skandal-photo{
    height: auto;
    width: 100%;
}

.aktor-skandal-right>a>h4{
    margin-bottom: 0px;
}

.content-politisi-terkait{
    float:left;
    width: 40px;
    height: 50px;
    margin-right: 8px;
}
.content-politisi-terkait>img{
    width: auto;
    height: auto;
}


#profile_scandal_container{
    margin-top: 10px;
}

#profile_news_container{
    margin-top: 10px;
}


.aktor-side-nav{margin-top: 1px;}
.aktor-side-information{display: block;text-decoration: none;color: #000000;font-weight: normal;}
.aktor-side-information>span{font-size: 14px;margin-left: 10px;margin-right: 15px;}

.aktor-side-nav-large{height: auto;}
.aktor-side-nav-bg{background: #f5f5f5;}
.aktor-side-nav-link-user{line-height: 50px;text-decoration: none;color: red;display: block;}
.aktor-side-nav-link-user:hover{text-decoration: none; color: red;cursor: pointer;}
.aktor-side-nav-link-user>h4{margin-left: 10px;}
.aktor-side-nav-link{display: block;text-decoration: none;color: #000000;font-weight: bold;line-height: 40px;}
.aktor-side-nav-link:hover{text-decoration: none;color: #000000;cursor: pointer;}
.aktor-side-nav-link>span{font-size: 14px;margin-left: 10px;margin-right: 15px;}

.aktor-side-table-title {color: #000000; font-size: 14px;padding-left: 10px; padding-right: 10px;height: 23px;}
.aktor-side-table-title-col1 {width: 100px;}
.aktor-side-table-title-col2 {width: 206px;}

.aktor-side-friend-list{float: left;margin: 0px 0px;}
.aktor-side-friend-list a{text-decoration: none;}
.aktor-side-friend-list a:hover{text-decoration: none;cursor: pointer;}
.aktor-side-friend-list img{width: 36px;}

#aktor-album {background-color: #fff; padding: 0px;}
#aktor-album ul {margin: 0; padding: 0; list-style: none;}
#aktor-album li {float: left; margin: 0; vertical-align: top;margin-bottom: 5px;}
#aktor-album li .img-frame {width: 155px; height: 190px; border: solid 1px #cecece;text-align: center;background-color: #cecece;}
#aktor-album li img {width: 150px; height: 158px;}
#aktor-album li .aktor-date {font-size:9px; font-style: italic; font-weight: normal;margin-top:45px;}
#aktor-album li .album-title {font-size: 12px; font-weight:normal;color: #f70201;text-decoration: none;display: block;margin-top:45px;}
