.circular-wall {
    /*border: 4px solid #dcdcdc;*/
    margin-top: 3px;
    margin-left: 8px;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-wall img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.komu-side-img{
    width: 100%;
    max-height: 304px;
}

.komu-side-nav{
    margin-top: 1px;
}
.komu-side-nav-large{
    height: 50px;
}

.komu-side-nav-bg{
    background: #f5f5f5;
}

.komu-side-nav-link-user{
    line-height: 50px;
    text-decoration: none;
    color: red;
    display: block;
}

.komu-side-nav-link-user:hover{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.komu-side-nav-link-user>h4{
    margin-left: 10px;
}

.komu-side-nav-link{
    display: block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    line-height: 40px;
}

.komu-side-nav-link:hover{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.komu-side-nav-link>span{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 15px;
}

.komu-side-friend-list{
    float: left;
    margin: 0px 5px;
}

.komu-side-friend-list a{
    text-decoration: none;
}

.komu-side-friend-list a:hover{
    text-decoration: none;
    cursor: pointer;
}

.komu-side-friend-list img{
    width: 36px;
}

.komu-wall-title{
    border-bottom: solid #000000 1px;
    border-top: solid #000000 1px;
}

.komu-wall-title h3{
    color: #d20001;
    margin-top: 5px;
    margin-bottom: 5px;
}

.komu-wall-title a{
    display: inline-block;
}

.komu-wall-post{
    background: #b2b2b2;
}
.komu-wall-tab>ul{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.komu-wall-tab>div{
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.komu-wall-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin-bottom: 5px;;
}

.komu-wall-nav li{
    float: left;
    cursor: pointer;
    margin: 0;
    vertical-align: top;
}

.komu-wall-nav li>.active{
    color: black;
}

.komu-wall-nav li>a{
    margin-right: 22px;
    text-decoration: none;
    display: block;
}

.komu-wall-nav li>a:hover{
    text-decoration: none;
    cursor: pointer;
}

.komu-wall-list{
    padding-top: 7px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.komu-wall-list-bg{
    background: #f5f5f5;
}

.komu-wall-list-uname{
    margin-bottom: 4px;
}

.komu-wall-list-uname>a{
    text-decoration: none;
    color: #000000;
}

.komu-wall-list-uname>a:hover{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.komu-wall-list-more{
    text-decoration: none;
    color: #000001;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    display: block;
}

.komu-wall-list-more:hover{
    text-decoration: none;
    color: #000001;
    cursor: pointer;

}

.komu-follow-list-more{
    text-decoration: none;
    color: #000001;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    display: block;
}

.komu-follow-list-more:hover{
    text-decoration: none;
    color: #000001;
    cursor: pointer;

}

.komu-follow-list-title>a{
    color: black;
    text-decoration: none;

}
.komu-follow-list-title>a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.komu-follow-list-title>a>h5{
    margin-bottom: 0px;
    margin-left: 10px;

}

.komu-follow-list-title>p{
    color: black;
    padding: 0px;
    margin-bottom: 4px;
    margin-left: 10px;
}

.komu-wall-list-status{
    font-size: 14px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.komu-wall-list-foto-continer{
    margin-right: 10px;
}

.komu-wall-list-foto{
    width: 100%;

}

.komu-follow-list{
    padding-top: 2px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.input-flat{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: solid 1px white;
    padding: 0px 5px;
    margin-bottom: 8px;
}

.input-flat-large{
    padding: 8px 12px 8px 10px;
    width: 96%;
}

.btn-flat{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    border: 0px;
    /*margin-top: 4px;*/
}



.btn-flat:hover{
    text-decoration: none;
    cursor: pointer;
}

.btn-flat-large{
    font-size: 16px;
    padding: 5px 13px 5px 13px;

}

.btn-flat-xlarge{
    font-size: 16px;
    padding: 9px 15px 9px 15px;
    width: 100%;
    text-align: center;
}

.btn-flat-gray{
    color: white;
    background: #cccccc;
}

.btn-flat-gray:hover{
    color: #ffffff;
}

.btn-flat-red{
    color: white;
    background: #f70201;

}

.btn-flat-dark{
    color: white;
    background: #4c4c4c;
}
.btn-flat-dark:hover{
    color: white;
}

.komu-wall-icon-big{
    background: url("../images/icon-komunitas-big.png")no-repeat;
    height: 35px;
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.komu-wall-icon-big-photo{
    background-position: left 0px;
}

.komu-wall-icon-big-comment{
    background-position: left -31px;
}

.komu-wall-icon-big-status{
    background-position: left -70px;
}

.komu-btn-icon-light{
    background: url("../images/icon-komunitas-k-light.png")no-repeat;
    height: 17px;
    width: 23px;

}

.komu-btn-icon-light-status{
    background-position: left 0px;
}

.komu-btn-icon-light-photo{
    background-position: left -19px;
}

.komu-btn-icon-light-blog{
    background-position: left -36px;
}

#wall_loader{
    display: block;
    text-align: center;
    font-weight: bold;
    height: 2px;
}

.komu-carousel-image{
    width: 100%;
    /*height: 173px;*/
}

.komu-carousel-image img{
    width: 100%;
    height: auto;
}

.komu-carousel-control-thumbs{
    text-align: center;
    overflow: hidden;
    position: relative;
}

.komu-carousel-indicators{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    list-style-position:inside;
}

.komu-carousel-indicators li{
    float: left;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.komu-carousel-indicators>.active>img{
    -webkit-filter: grayscale(100%);
}

.komu-carousel-control-container{
    margin-top: 10px;

}

.komu-carousel-control{
    font-size: 50px;
    font-weight: bold;
    color: #a9a9a9;
}

.komu-carousel-control:hover{

    text-decoration: none;
}

.komu-blog-content img{
    width: 100%;
}

.komu-blog-date{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 6px;
    float: left;

}

.komu-blog-title{
    margin-bottom: 4px;
    color: #f70201;
    text-decoration: none;
    display: block;
}

.komu-blog-title:hover{
    color: #f70201;
    text-decoration: none;
    cursor: pointer;

}

.komu-blog-title>h4{
    margin-bottom: 4px;
}

.komu-photo-profile{
    font-size: 16px;
    font-weight: bold;
}

.komu-photo-count{
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}

.komu-wall-text-main{
    word-wrap: break-word;
    padding-right: 10px;
}

.komu-wall-list-foto-container{
    padding-right: 10px;
    word-wrap: break-word;
}

.komu-blog-post{
    background: #b2b2b2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pp_modal {
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    margin: 0 auto;
    top: 8%;
    left: 0;
    /*margin-top: 17px;*/
    margin-left: 0px;
    padding: 0px;
    background: transparent;
}
#pp_modal>.modal-container{
    background: white;
    margin: 0 auto;
    width: 960px;
    height: 550px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}


#photo_modal {
    width: 100%;
    /*height: 50px;*/
    /*position: absolute;*/
    margin: 0 auto;
    top: 8%;
    left: 0;
    /*margin-top: 17px;*/
    margin-left: 0px;
    padding: 0px;
    background: transparent;
    box-shadow: 0 0 0;
    border: 0px;
}

#photo_modal>.modal-container{
    background: white;
    margin: 0 auto;
    width: 960px;
    height: 550px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    overflow: hidden;
    padding-bottom: 10px;
}

.komu-foto-modal{
    height: 490px;
    width: 100%;
}

.komu-foto-modal>img{
    width: 100%;
}

.komu-profile-info{
    display: block;
    font-weight: 500;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    color: #4c4c4c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 8px 10px;
    text-shadow: 0.7px 0px 0px #2c2c2c;
    margin-bottom: 10px;
    background: white;
}

.komu-profile-info-null{
    display: block;
    font-weight: 500;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    color: #cccccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 8px 10px;
    text-shadow: 0.7px 0px 0px #cccccc;
    background: white;
}

.komu-profile-info-select{
    display: block;
    font-weight: 500;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    color: #4c4c4c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0px 0px 0px 10px;
    text-shadow: 0.7px 0px 0px #2c2c2c;
    margin-bottom: 10px;

}