
html,
body {
    /*height: 100%;*/
    /*padding-top: 60px;*/
    /* The html and body elements cannot have any padding or margin. */
}

.header-text{
    float: right;
}

.caleg-image-header{
    position: absolute;
    top: 0px;
    margin-left: 30px;

}

.h2-red{
    color: red;
    margin-top: -3px;
    margin-bottom: 0px;
    font-weight: 100;
    line-height: 35px;
}

.h2-white{
    color: white;
    margin-bottom: 0px;
    margin-top: -10px;

}

/* Wrapper for page content to push down footer */
#header{
    height: 60px;
    overflow: hidden;

}

#header>div{
    height: 60px;
}

#header .bijaks-logo{
    width: 80px;
}


#footer {
    height: 40px;
    background-color: #000000;
    /*background: rgba(0, 0, 0, 0.8);*/
    position: fixed;
    bottom: 0px;
    width: auto;
    right: 0px;
    left: 0px;
    z-index: 9999;
}

#footer p{
    margin-top: 10px;
    color: #ffffff;
}

.div-line-header{
    width: 100%;
    height: 6px;
    background-color: #979595;
    margin-top: 60px;
}

/* Not required for template or sticky footer method. */

.container {
    width: 960px;
    max-width: 960px;
}

.container-overlay{
    position: absolute;
    width: 960px;
    background-color: #b3c7e1;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    z-index: 9991;
    padding-bottom: 20px;
    max-height: 550px;
    height: 540px;
    overflow: hidden;
}
.caleg-header{
    height: 38px;
    background-color: rgba(0,0,0, 0.7);
    padding-top: 2px;
    position: fixed;
    width: 960px;
    margin: 0 auto;
    z-index: 99;
}

.caleg-header h4{
    color: white;
    margin-left: 10px;
}

.caleg-body-partai{
    height: 110px;
    width: 100%;
    border-bottom: solid 2px #b2b2b2;
}

.caleg-body-desc{
    border-bottom: solid 2px #b2b2b2;
    padding-left: 10px;
}

.partai-list{
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0px;
}
.partai-list>li{
    float: left;
    margin-right: 5px;
    width: 70px;

}

.partai-image-mini{
    /*top: 40px;*/
    /*position: relative;*/
    width: 40px;
    height: 40px;
    position: absolute;
}
.partai-image-large{
    /*width: 100%;*/
    /*min-height: 200px;*/
    max-width: 200px;
    overflow: hidden;
    /*margin-bottom: 5px;*/
    /*margin-top: -40px;*/

}

.caleg-body{
    /*margin-top: 44px;*/
    height: 500px;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 44px;
    background-color: #b3c7e1;
}

#caleg_list{
    border-top:solid 2px #b2b2b2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.caleg-name{
    margin-top: 4px;
    margin-bottom: 5px;
}

.caleg-date{
    color: #0e0e0e;
    margin: 0px;
    text-align: left;
    font-size: 11px;
}

/**** BUTTON *****/
.btn-flat{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    margin-top: 4px;
    border: 0px;
    /*margin-top: 4px;*/
}



.btn-flat:hover{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.btn-flat-large{
    font-size: 16px;
    padding: 5px 13px 5px 13px;

}

.btn-flat-xlarge{
    font-size: 16px;
    padding: 9px 15px 9px 15px;
    width: 100%;
    text-align: center;
}

.btn-flat-gray{
    color: white;
    background: #cccccc;
}

.btn-flat-gray:hover{
    color: #ffffff;
}

.btn-flat-red{
    color: white;
    background: #f70201;

}

.btn-flat-dark{
    color: white;
    background: #4c4c4c;
}
.btn-flat-dark:hover{
    color: white;
}

/** FOR MAP */
.province{
    /*border: 1px solid blue;*/
    /*background: blue;*/
    /*color: black;*/
    /*display: block;*/
    z-index: 100;
    width: 10px;
    height: 10px;
}

#idn_maps_image{
    margin-top: 10px;
}

#pop_over{
    min-width: 200px;
}

.loader{
    width: 100%;
    height: 2px;
    background: url(../images/loader_like-color.gif) no-repeat;
    background-size: 100% 100%;

}

.partai-ref{

}

.partai-alias{
    color: #0e0e0e;
    margin: 0px;
    text-align: center;
    font-size: 11px;
}

.partai-caleg{
    color: #0e0e0e;
    margin: 0px;
    text-align: center;
    font-size: 11px;
    line-height: 9px;
}
#example{
    position: relative;
}

#example ul {
    position: absolute;
    width: 960px;
}

#example li{

}

.thumbnail-white{
    background-color: white !important;
}