#navi-profile {margin-top:155px;background-color: #ececec;height: 45px;width: 960px; border-top: 2px solid #000;
    border-bottom: 2px solid #000;position:relative;}
#navi {background-color: #ececec;height: 45px;width: 960px; border-top: 2px solid #000;margin: 0;
    font-family: Helvetica, sans-serif, arial;font-weight: bold; font-size: 17px;border-bottom: 2px solid #000;
    position:relative;}

#navi li {float: left;}
#navi li a {cursor: pointer; display: block; height: 30px;text-align: center; text-decoration: none;padding: 10px 0px 0px 0px;}
#navi li.active a { color: #FFFFFF; background-color: #d00303}

#navi .navi-eksekutif a {width: 130px; color: #a41c1c;}
#navi .navi-legislatif a {width: 130px; color: #a41c1c;}
#navi .navi-yudikatif a {width: 130px; color: #a41c1c;}
#navi .navi-partai a {width: 185px; color: #a41c1c;}
#navi .navi-perusahaan a {width: 180px; color: #a41c1c;}
#navi .navi-player a {width: 190px; color: #a41c1c;}

#navi .navi-eksekutif a:hover {background-color: #f8f4f4;}
#navi .navi-legislatif a:hover {background-color: #f8f4f4;}
#navi .navi-yudikatif a:hover {background-color: #f8f4f4;}
#navi .navi-partai a:hover {background-color: #f8f4f4;}
#navi .navi-perusahaan a:hover {background-color: #f8f4f4;}
#navi .navi-player a:hover {background-color: #f8f4f4;}

#navi .navi-eksekutif.active a {background-color: #d00303}
#navi .navi-legislatif.active a {background-color: #d00303}
#navi .navi-yudikatif.active a {background-color: #d00303}
#navi .navi-partai.active a {background-color: #d00303}
#navi .navi-perusahaan.active a {background-color: #d00303}
#navi .navi-player.active a {background-color: #d00303}

#navi .dropdown-menu {background: transparent !important; /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 0px 0px !important; box-shadow: none;}
#navi .dropdown-menu li {float:none !important; background-color: #f80101; width: auto;margin-bottom: 2px;}
#navi .dropdown-menu a {color: #fff; font-family: Helvetica, sans-serif, arial; font-size: 12px; text-align: left;
    height: 22px;width: auto;font-weight: bold;padding: 5px 12px 5px 12px;white-space:nowrap;}
#navi .dropdown-menu a:hover {width: auto; background-color: #d00303 !important;background-image: none !important;}
#navi .dropdown-menu.active a {background-color: #d00303;}

#navi .dropdown-submenu.pull-left > .dropdown-menu {
    left: -65%;
    top: 60%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    white-space:nowrap;
}

#lembaga {}
#lembaga li {list-style:none; float:left;margin-top:10px;margin-left:10px;height: 22px;width:auto;background-color:#d00303;}
#lembaga li a {color: #fff; font-family: Helvetica, sans-serif, arial; font-size: 12px; text-align: left;
    height: 22px;width: auto;font-weight: bold;padding: 5px 12px 5px 12px;}
#lembaga .level {height: 22px; margin-top: -10px;}

#lembaga .ca-container{position:relative; margin:25px auto 20px auto; width:930px; height:25px;}
#lembaga .ca-wrapper{width:100%;height:100%;position:relative;}
#lembaga .ca-item{position:relative;width:auto;height:22px;text-align:center;}

#politik {background-color: #fff; padding: 0px;}
#politik ul {margin: 0; padding: 0; list-style: none;}
#politik li {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#politik li img {width: 192px; height: 190px;}

#politik .small-politik {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#politik .small-politik img {width: 96px; height: 95px; }

#politik .small-partai {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#politik .small-partai img {width: 88px; height: 88px;  padding: 3px !important;}

#politik .small-lembaga {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#politik .small-lembaga img {width: 88px; height: 88px; padding: 3px !important;}

#sub-profile {background-color: #ffffff; padding: 0px;}
#sub-profile .title {font-family: helvetica; font-size: 18px; color: #000;margin-top:10px; margin-bottom: 20px;
border-bottom: 2px solid #cecece; line-height: 30px; padding-bottom: 2px;}
#sub-profile ul {margin: 0; padding: 0; list-style: none;}
#sub-profile li {float: left; cursor: pointer; margin: 0; vertical-align: top;}
#sub-profile li img {width: 64px; height: 64px;}

#profile-detail {}
#profile-detail .badge-info {float:left; width:300px;background-color:#fff;}
#profile-detail .badge-detail-info {width:300px;margin-top:10px;}
#profile-detail .badge-detail-info table {background-color: #fff;color: #000;}
#profile-detail .badge-detail-info table tr {border-bottom:1px solid #cecece;height:35px;}
#profile-detail .badge-detail-info table tr td {font-family: Helvetica;font-size: 13px;padding:5px 10px 5px 5px;}
/*#profile-detail img {width:300px; height:300px;}*/
#profile-detail .topheader {background-image:url("../images/img-default-profile.jpg");height:540px;width:960px;
    background-repeat: no-repeat;}
#profile-detail .logo-small-container{width: 200px;height: 150px;background-color: black; opacity:0.8; float: left;}
#profile-detail .logo-small-container img{z-index: 9;height: auto;width: 150px; margin-top: 20px; margin-left: 23px;}
#profile-detail .profile-info {float:left; margin-left:30px; width:630px;font-family: Helvetica, sans-serif, arial;}
#profile-detail .profile-name {height:35px; border-top:1px solid #000;border-bottom:1px solid #000;padding:10px 0px 0px 0px;}
#profile-detail .profile-name p {font-family: Helvetica;font-size: 28px; font-weigth:bold;}
#profile-detail .about {margin-top:15px;border-bottom:2px solid #cecece;}
#profile-detail .about p {font-size:13px;text-align:justify;}

#politic-structure {margin-left:8px;margin-right:8px;}
#politic-structure .span3 {width: 300px !important; top: auto}
#politic-structure .profile {width: 300px; height: 80px;background-color: #f2eeed; color:#000;margin-top: 2px; margin-bottom: 2px;}
#politic-structure .profile-foto {float:left;margin-top:7px; margin-left: 10px; margin-right: 10px; width: 64px; height: 64px;}
#politic-structure .profile-foto img {width: 64px; height: 64px;border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px;background-color: #c4c4c4;}
#politic-structure .profile-detail {float:left; margin-top:3px; font-family: Helvetica; }
#politic-structure .profile-detail a {color: #000;font-size: 15px;}
#politic-structure .profile-detail p {font-size: 12px; color: #000;text-decoration: none; margin-top: -4px;}
#politic-structure .profile-detail p span {font-size: 11px; color: #000;text-decoration: none;}

#profile-news {margin-top:15px;border-bottom:2px solid #cecece;}
#profile-news .profile-news-section { margin-right: 5px;width: 600px;height: 220px;border-bottom: solid 1px #cecece;}
#profile-news a h4 {font-family: Helvetica; font-size: 18px; color: #D20001;text-decoration: none;cursor: hand;}
#profile-news .news-date {font-size: 10px;margin-top:-12px;}
#profile-news .profile-news-image {float:left; width: 300px; height: 160px;}
#profile-news .profile-news-image img {width: 300px; height: 160px;}
#profile-news .profile-news-article {float:left; margin-left:10px;width: 280px;}
#profile-news .related-politicians {margin-top:-15px;height: 35px;line-height: 15px; margin-bottom: 5px; font-family: helvetica, sans-serif, arial;}
#profile-news .related-politician-label {font-size: 15px; font-weight: bold; margin-right: 0px; width: 48px; vertical-align: middle; padding: 15px 0 0 0;}
#profile-news .related-politician-label-white {font-size: 11px; font-weight: bold; margin-right: 0px; width: 80px; vertical-align: middle;
    padding: 15px 10px 0px 0px;color: #fff;}
#profile-news .related-politician-label-status {font-size: 11px; font-weight: bold; line-height: 20px; margin-right: 5px;
    width: 90px;vertical-align: middle;color: #fff;}
#profile-news .related-politician-status {font-size: 11px; line-height: 22px; width: 175px; vertical-align: middle; color: #fff;}
#profile-news .related-politician-img {margin-top:15px;}
#profile-news .related-politician-img .block-user-friend-pic { margin-bottom: 0;}
#profile-news .related-politician-img img {width: 35px; height: 35px; margin-right: 6px;}
#profile-news .profile-isi-berita {width: 300px;height: auto;margin-top:20px;text-align: justify;}
#profile-news .list-more{
    text-decoration: none;
    color: #000001;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
    display: block;
}

#profile-news .list-more:hover{
    text-decoration: none;
    color: #000001;
    cursor: pointer;

}


#profile-skandal {margin-top:15px;border-bottom:2px solid #cecece;}
#profile-skandal .profile-skandal-section{float:left; margin-left:5px; margin-right: 5px;width: 300px;}
#profile-skandal a h4 {font-family: Helvetica; font-size: 18px; color: #D20001;text-decoration: none;cursor: hand;}
#profile-skandal .profile-news-image {width: 300px; height: 160px;}

#profile-skandal .related-politicians {background-color:#000;
margin-top:35px;height: 145px;line-height: 15px; margin-bottom: 5px; font-family: helvetica, sans-serif, arial;}
#profile-skandal .related-politician-label {background-color:#000;color:#fff;
font-size: 15px; font-weight: bold; margin-right: 0px; width: 48px; vertical-align: middle; padding: 15px 0 0 0;}
#profile-skandal .related-politician-label-white {background-color:#000;font-size: 11px; font-weight: bold; margin-right: 0px; width: 80px; vertical-align: middle;
    padding: 15px 10px 0px 0px;color: #ffffff;}
#profile-skandal .related-politician-label-status {background-color:#000;font-size: 11px; font-weight: bold; line-height: 20px; margin-right: 5px;
    width: 90px;vertical-align: middle;color: #ffffff;}
#profile-skandal .related-politician-status {background-color:#000;font-size: 11px; line-height: 22px; width: 175px; vertical-align: middle; color: #fff;}
#profile-skandal .related-politician-img {background-color:#000;margin-top:15px;}
#profile-skandal .related-politician-img .block-user-friend-pic { background-color:#000;margin-bottom: 0;}
#profile-skandal .related-politician-img img {width: 35px; height: 35px; margin-right: 6px;}
#profile-skandal .profile-isi-berita {width: 300px;height: auto;margin-top:20px;text-align: justify;}

#struktur-pop {
    width: 100%; height: 50px;
    /*position: absolute;*/
    margin: 0 auto; top: 8%;left: 0;
    /*margin-top: 17px;*/
    margin-left: 0px; padding: 0px; background: transparent;
}
#struktur-pop>.modal-container{
    background: white; margin: 0 auto; width: 960px; height: 550px; -webkit-border-radius: 1px; -moz-border-radius: 1px;
    border-radius: 1px;
}
