.suksesi-img-logo{
    height: 100px;
}

.suksesi-img-logo img{
    max-height: 100px;
}

.suksesi-img-map{
    height: 230px;
    overflow: hidden;
}

.suksesi-img-map img{
    max-height: 170px;
    margin-bottom: 10px;
    width: 100%;
}

.suksesi-ket-place{
    height: 25px;
}

.suksesi-ket-place span{
    padding: 0px;
    margin: 0px;
}

.table .suksesi-ket-place{
    padding: 2px 0px 0px 8px;

}

.nav-tabs-suksesi{
    margin-bottom: 5px;
}

.suksesi-carousel-image{
    width: 100%;
    height: 173px;
}

.suksesi-carousel-image img{
    width: 100%;
}

.suksesi-carousel-control-thumbs{
    float:left;
   /* text-align: center;*/
    overflow: hidden;
    position: relative;
    height: 80px;
    width: 311px;
}

.suksesi-carousel-indicators{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    white-space: nowrap;
    width: 311px;
    height: 78px;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.suksesi-carousel-indicators li{
    /*float: left; */
    margin-right: 1px;
    width: 57px;
    height: 57px;
    display:inline-block;
}

suksesi-carousel-indicators li img {width: 57px;height: 57px;}
.suksesi-carousel-indicators>.active>img{
 /*   -webkit-filter: grayscale(100%); */
}

.suksesi-carousel-control-container{
    margin-top: 10px;
}
.suksesi-carousel-control-button {float:left;width: 10px;height: 50px;}
.suksesi-carousel-control-button a {font-size: 25px;font-weight: bold; color: #ffffff;margin-top:15px;}
/*
.suksesi-carousel-control{
    font-size: 25px;
    font-weight: bold;
    color: #a9a9a9;
}
*/
.suksesi-carousel-control:hover{

    text-decoration: none;
}

.suksesi-kandidat-detail{
    height: 146px;
    overflow: hidden;
}
.suksesi-other-title {line-height: 33px;background-color: #bbbbbb;font-family: 'times new roman', helvetica, arial; font-size: 20px;}
.suksesi-other-title a {color: #000;margin-left:0px;text-decoration: none;margin-left:10px;}

.circular-suksesi {
    border: 4px solid #dcdcdc;
    margin-top: 3px;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
.circular-suksesi img {
    opacity: 0;
    filter: alpha(opacity=0);
}